// Footer height
@footer-height: 250px;

html {
  position: relative;
  min-height: 100%;
}
iframe {
  border: 0;
}
body {
  margin-bottom: @footer-height;
}
footer {
  position: absolute;
  border-top: 1px solid #c0c0c0;
  bottom: 0;
  width: 100%;
  height: @footer-height;

  .container {
    margin-top: 40px;
  }
}

header {
  padding-top: 10px;
}
aside {
  margin-top: 50px;
}

pre {
  padding: 0;
}
/*
pre {
  font-family: 'Source Sans Pro', sans-serif;
}
*/
.intro {
  /*border-bottom: 1px solid #c0c0c0;*/
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  h1 {
    font-size: 45px;
  }
}
.features {
  text-align: center;
  .col-lg-4 {
    padding-bottom: 30px;
  }
  i.fa {
    font-size: 6em;
  }
}
.content {
  padding-bottom: 60px;
}
.demo {
  padding-bottom: 30px;
  .tab-pane {
    padding-top: 30px;
  }
}

/* Sample code */
.docs-code__note {
  border: 1px solid yellow;
  border-radius: 4px;
  padding: 2px;
}

/* Note */
.docs-note__info {
  border-left: 2px solid #3498db;
  padding: 10px;
}

/** Sidebar */
.docs-sidebar {
  border: 1px solid #ddd;
  border-radius: 4px;
  .nav > .active > a, .nav > .active:hover > a, .nav > .active:focus > a {
    font-weight: bold;
    background-color: transparent;
    border-left: 2px solid #428bca;
  }
  .nav .nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
  }
}

@media (min-width: 992px) {
  .docs-sidebar.affix, .docs-sidebar.affix-bottom {
    position: fixed;
    top: 20px;
  }
}
@media (min-width: 992px) {
  .docs-sidebar.affix, .docs-sidebar.affix-bottom {
    width: 213px;
  }
}
@media (min-width: 1200px) {
  .docs-sidebar.affix {
    width: 263px;
  }
}