// Footer height
@footer-height: 200px;

html {
  position: relative;
  min-height: 100%;
}
iframe {
  border: 0;
}
body {
  margin-bottom: @footer-height;
  border-top: 2px solid #26C281;
}
footer {
  position: absolute;
  border-top: 1px solid #c0c0c0;
  bottom: 0;
  width: 100%;
  height: @footer-height;

  .container {
    margin-top: 30px;
  }
}

aside {
  margin-top: 50px;
}

pre {
  padding: 0;
}

/* Override Bootstrap */
.alert {
  border: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-radius: 0;
}
.alert-warning {
  border-left-color: #EF4836;
}
.alert-info {
  border-left-color: #3498db;
}

.docs-header {
  border-bottom: 1px solid #efeae1;

  ul {
    margin-bottom: 0;
  }
  li {
    padding: 0 15px;
  }
  li a {
    color: #333;
    display: block;
    padding: 10px 0px;
    &:hover {
      text-decoration: none;
    }
  }
  li.active a {
    border-bottom: 3px solid #4cae4c;
  }
}
.docs-header__logo {
  font-size: 50px;
  margin: 40px 0;
  &:hover {
    text-decoration: none;
  }
}

/* Intro */
.docs-intro {
  border-bottom: 1px solid #ddd;
  padding: 30px 0 20px 0;
  .panel-heading {
    color: #fff;
    background-color: #3FC380;
  }
  .docs-intro__download {
    padding-bottom: 6px;
    padding-top: 6px;
  }
}

/* Features */
.docs-features {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  text-align: center;
  .col-md-4 {
    padding-bottom: 20px;
  }
  h2 {
    padding-bottom: 15px;
    text-transform: uppercase;
  }
  h3 {
    margin-top: 5px;
  }
  ul {
    padding-left: 15px;
    text-align: left;
  }
  p {
    text-align: left;
  }
  i.fa {
    color: #66CC99;
    font-size: 3.5em;
  }
}

/* Changelog */
.docs-changelog {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  .row {
    margin-bottom: 15px;
  }
  h2 {
    padding-bottom: 15px;
    text-transform: uppercase;
  }
  h4 {
    margin-bottom: 0px;
    margin-top: 0;
  }
  ul {
    padding-left: 20px;
    list-style: none;
  }
  .docs-changelog__added {
    border-left: 4px solid #5cb85c;
  }
  .docs-changelog__improved {
    border-left: 4px solid #428bca;
  }
  .docs-changelog__fixed {
    border-left: 4px solid #d9534f;
  }
}

/* Contributors */
.docs-contributor {
  text-align: center;
  h2 {
    padding-bottom: 15px;
    text-transform: uppercase;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
    width: 600px;
    li {
      display: inline;
      float: left;
      margin: 2px;
      img {
        height: 60px;
        width: 60px;
      }
    }
  }
  .btn {
    margin-top: 20px;
  }
}

.hljs {
  background-color: #fff;
}

/* Sample data */
.docs-sample {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
  a {
    display: inline-block;
    width: 80%;
  }
  i {
    padding-left: 10px;
  }
}

/* Example */
.docs-example {
  margin-bottom: 15px;

  form {
    padding: 15px 15px 10px 15px;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  pre {
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;

    &:last-child {
      border-bottom: 1px solid #ddd;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

/* Content */
.docs-content {
  padding-bottom: 20px;
  h1 {
    border-bottom: 1px solid #86E2D5;
    padding-bottom: 15px;
  }
}

/* Sample code */
.docs-code__note {
  background: yellow;
  padding: 2px;
}

/* Sidebar */
.docs-sidebar {
  margin-top: 20px;
  .nav:first-child {
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .nav > li > a {
    padding: 6px 15px;
  }
  .nav > .active > a, .nav > .active:hover > a, .nav > .active:focus > a {
    font-weight: bold;
    background-color: transparent;
    border-left: 2px solid #428bca;
  }
  .nav .nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
  }
}

@media (min-width: 992px) {
  .docs-sidebar.affix, .docs-sidebar.affix-bottom {
    position: fixed;
    top: 20px;
  }
}
@media (min-width: 992px) {
  .docs-sidebar.affix, .docs-sidebar.affix-bottom {
    width: 213px;
  }
  #carbonads-container {
    display: none;
  }
}
@media (min-width: 1200px) {
  .docs-sidebar.affix {
    width: 263px;
  }
  #carbonads-container {
    display: block;
    margin-top: 20px;
    width: 263px;
    .carbonad {
      height: auto;
      width: 263px;
    }
    .carbonad-text, .carbonad-tag {
      width: 100px;
    }
    .carbonad-tag {
      margin-bottom: 9px;
    }
  }
}