html {
  position: relative;
  min-height: 100%;
}
iframe {
  border: 0;
}
body {
  margin-bottom: 200px;
  border-top: 2px solid #26C281;
}
footer {
  position: absolute;
  border-top: 1px solid #c0c0c0;
  bottom: 0;
  width: 100%;
  height: 200px;
}
footer .container {
  margin-top: 30px;
}
aside {
  margin-top: 50px;
}
pre {
  padding: 0;
}
/* Override Bootstrap */
.alert {
  border: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-radius: 0;
}
.alert-warning {
  border-left-color: #EF4836;
}
.alert-info {
  border-left-color: #3498db;
}
.docs-header {
  border-bottom: 1px solid #efeae1;
}
.docs-header ul {
  margin-bottom: 0;
}
.docs-header li {
  padding: 0 15px;
}
.docs-header li a {
  color: #333;
  display: block;
  padding: 10px 0px;
}
.docs-header li a:hover {
  text-decoration: none;
}
.docs-header li.active a {
  border-bottom: 3px solid #4cae4c;
}
.docs-header__logo {
  font-size: 50px;
  margin: 40px 0;
}
.docs-header__logo:hover {
  text-decoration: none;
}
/* Intro */
.docs-intro {
  border-bottom: 1px solid #ddd;
  padding: 30px 0 20px 0;
}
.docs-intro .panel-heading {
  color: #fff;
  background-color: #3FC380;
}
/* Features */
.docs-features {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  text-align: center;
}
.docs-features .col-md-4 {
  padding-bottom: 20px;
}
.docs-features h3 {
  margin-top: 5px;
}
.docs-features ul {
  padding-left: 15px;
  text-align: left;
}
.docs-features p {
  text-align: left;
}
.docs-features i.fa {
  color: #66CC99;
  font-size: 3.5em;
}
/* Changelog */
.docs-changelog .row {
  margin-bottom: 15px;
}
.docs-changelog h4 {
  margin-bottom: 0px;
  margin-top: 0;
}
.docs-changelog ul {
  padding-left: 20px;
  list-style: none;
}
.docs-changelog .docs-changelog__added {
  border-left: 4px solid #5cb85c;
}
.docs-changelog .docs-changelog__improved {
  border-left: 4px solid #428bca;
}
.docs-changelog .docs-changelog__fixed {
  border-left: 4px solid #d9534f;
}
.hljs {
  background-color: #fff;
}
/* Example */
.docs-example {
  margin-bottom: 15px;
}
.docs-example form {
  padding: 15px 15px 10px 15px;
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.docs-example pre {
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
  margin: 0;
  padding: 0;
}
.docs-example pre:last-child {
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* Content */
.docs-content {
  padding-bottom: 20px;
}
.docs-content h1 {
  border-bottom: 1px solid #86E2D5;
  padding-bottom: 15px;
}
/* Sample code */
.docs-code__note {
  background: yellow;
  padding: 2px;
}
/* Sidebar */
.docs-sidebar {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 20px;
}
.docs-sidebar .nav > li > a {
  padding: 6px 15px;
}
.docs-sidebar .nav > .active > a,
.docs-sidebar .nav > .active:hover > a,
.docs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  background-color: transparent;
  border-left: 2px solid #428bca;
}
.docs-sidebar .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}
@media (min-width: 992px) {
  .docs-sidebar.affix,
  .docs-sidebar.affix-bottom {
    position: fixed;
    top: 20px;
  }
}
@media (min-width: 992px) {
  .docs-sidebar.affix,
  .docs-sidebar.affix-bottom {
    width: 213px;
  }
}
@media (min-width: 1200px) {
  .docs-sidebar.affix {
    width: 263px;
  }
}
