---
layout:           base
title:            Getting Started
permalink:        /getting-started/
comments:         true
previous_section: /
next_section:     /settings/
---

<div class="doc-page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-8 col-sm-offset-2">
                <div class="doc-page-heading">
                    <h1>Getting Started</h1>
                    {% include edit-button.html %}
                </div>

                {% include getting-started/download.html %}

                <div class="doc-hr"></div>

                {% include getting-started/what-included.html %}

                <div class="doc-hr"></div>

                {% include getting-started/usage.html %}
            </div>
        </div>
    </div>
</div>