---
layout:           base
title:            Validators
permalink:        /validators/
previous_section: /settings/
next_section:     /api/
comments:         true
---

<div class="doc-page-content">
    <div class="doc-page-heading">
        <h1>Validators</h1>
        {% include edit-button.html %}
    </div>

    <div class="container">
        <p>BootstrapValidator comes with various built-in validators listed in the alphabetical order as following:</p>

        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                {% for validator in site.data.validators %}
                <tr>
                    <td>{{ forloop.index }}</td>
                    <td><a href="/validators/{{ validator.name }}/">{{ validator.name }}</a></td>
                    <td>{{ validator.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>