<footer>
    <div class="container">
        <div class="text-center">

        </div>
    </div>
</footer>

<script src="/vendor/highlight/highlight.pack.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
<script>
window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
    js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>
<script>
$(document).ready(function() {
    // Highlight sample code
    hljs.initHighlightingOnLoad();

    $('body').scrollspy({ target: '.docs-sidebar' });
    $(window).on('load', function() {
        $('body').scrollspy('refresh');
    });
    setTimeout(function() {
        $('.docs-sidebar[data-affix]').affix();
    }, 100);
    $('[data-toggle="tooltip"]').tooltip();
});
</script>