<header class="docs-header">
    <div class="container">
        <div class="row text-center">
            <a href="/" class="docs-header__logo">BootstrapValidator</a>

            <ul class="list-inline">
                <li{% if page.slug == null %} class="active"{% endif %}><a href="/">Overview</a></li>
                <li{% if page.slug == "getting-started" %} class="active"{% endif %}><a href="/getting-started/">Getting started</a></li>
                <li{% if page.slug == "examples" %} class="active"{% endif %}><a href="/examples/">Examples</a></li>
                <li{% if page.slug == "settings" %} class="active"{% endif %}><a href="/settings/">Settings</a></li>
                <li{% if page.slug == "validators" %} class="active"{% endif %}><a href="/validators/">Validators</a></li>
                <li{% if page.slug == "developing" %} class="active"{% endif %}><a href="/developing/">Developing</a></li>
                <li{% if page.slug == "api" %} class="active"{% endif %}><a href="/api/">API</a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Need a jQuery / JS / AngularJS / NodeJS / PHP / ZF developer for your projects?<br/>Drop me an email: phuoc@huuphuoc.me"><span class="label label-success">HIRE ME</span></a></li>
            </ul>
        </div>
    </div>
</header>

<a href="{{ site.repository.source }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>