<div class="bv-post">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-post-meta">
                <p><a href="https://github.com/{{ post.author }}" title="@{{ post.author }}"><img src="https://github.com/{{ post.author }}.png" width="80px" height="80px" /></a></p>
                <p>{{ post.date | date_to_string }}</p>
                <p>
                    {% for category in post.categories %}
                    <a href="/news/{{ category }}/">{{ category }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-post-content">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                {{ post.content }}
            </div>
        </div>
    </div>
</div>
