---
layout:    default
title:     Releases
permalink: /news/releases/
comment:   false
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/news/">News</a> / <a href="{{ page.url }}">Releases</a></h1>
                <p>The latest news about BootstrapValidator</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% for post in site.categories.releases %}
        {% include post-item.html %}
    {% endfor %}
</div>
