---
layout:           doc
title:            Set validator options via HTML attributes
permalink:        /examples/attribute/
categories:       [Basic]
previous_section:
next_section:
comments:         true
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/examples/">Examples</a> / Basic</h1>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                {% include example.html category='Basic' %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="attribute">Set validator options via HTML attributes</h2>
                    <p>This example illustrates the ability of setting validator options via HTML attributes.</p>
                    <p>In order to set a specific validator to given field, you have to declare additional attributes for the field. For example:</p>

                    <pre><code class="xml">&lt;input
    data-bv-{validatorname}
    data-bv-{validatorname}-{validatoroption}="..." /></code></pre>

                    <p>Here are some important points when setting the attributes for field:</p>

                    <ul class="doc-list">
                        <li><code>{validatorname}</code> and <code>{validatoroption}</code> must be lowercase.</li>
                        <li>Set <code>data-bv-{validatorname}</code> or <code>data-bv-{validatorname}="true"</code> to enable particular validator for field.<br/>Set <code>data-bv-{validatorname}="false"</code> to disable the validator.</li>
                        <li>There are some validators which not all options are configurable via HTML attribute. Refer to each validator documentation to see exactly the equivalent HTML attribute for each option.</li>
                    </ul>

                    <p>If there are multiple elements having the same name, you just need to set the HTML attribute to one of them. For example:</p>
                    <pre><code class="xml">&lt;div class="form-group">
    &lt;label class="col-lg-3 control-label">Gender&lt;/label>
    &lt;div class="col-lg-5">
        &lt;div class="radio">
            &lt;label>
                &lt;input type="radio" name="gender" value="male"
                    <span class="bv-note">data-bv-notempty data-bv-notempty-message="The gender is required"</span> /> Male
            &lt;/label>
        &lt;/div>
        &lt;div class="radio">
            &lt;label>
                &lt;input type="radio" name="gender" value="female" /> Female
            &lt;/label>
        &lt;/div>
        &lt;div class="radio">
            &lt;label>
                &lt;input type="radio" name="gender" value="other" /> Other
            &lt;/label>
        &lt;/div>
    &lt;/div>
&lt;/div></code></pre>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#attribute-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#attribute-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#attribute-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="attribute-form-tab">
                                <form id="attributeForm" method="post" class="form-horizontal"
                                      data-bv-message="This value is not valid"
                                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Full name</label>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" name="firstName" placeholder="First name"
                                                   data-bv-notempty="true" data-bv-notempty-message="The first name is required and cannot be empty" />
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" name="lastName" placeholder="Last name"
                                                   data-bv-notempty="true" data-bv-notempty-message="The last name is required and cannot be empty" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Username</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" name="username"
                                                   data-bv-message="The username is not valid"
                                                   data-bv-notempty="true" data-bv-notempty-message="The username is required and cannot be empty"
                                                   data-bv-regexp="true" data-bv-regexp-regexp="[a-zA-Z0-9_\.]+" data-bv-regexp-message="The username can only consist of alphabetical, number, dot and underscore"
                                                   data-bv-stringlength="true" data-bv-stringlength-min="6" data-bv-stringlength-max="30" data-bv-stringlength-message="The username must be more than 6 and less than 30 characters long"
                                                   data-bv-different="true" data-bv-different-field="password" data-bv-different-message="The username and password cannot be the same as each other" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Email address</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" name="email" type="email"
                                                   data-bv-emailaddress="true" data-bv-emailaddress-message="The input is not a valid email address" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Password</label>
                                        <div class="col-lg-5">
                                            <input type="password" class="form-control" name="password"
                                                   data-bv-notempty="true" data-bv-notempty-message="The password is required and cannot be empty"
                                                   data-bv-identical="true" data-bv-identical-field="confirmPassword" data-bv-identical-message="The password and its confirm are not the same"
                                                   data-bv-different="true" data-bv-different-field="username" data-bv-different-message="The password cannot be the same as username" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Retype password</label>
                                        <div class="col-lg-5">
                                            <input type="password" class="form-control" name="confirmPassword"
                                                   data-bv-notempty="true" data-bv-notempty-message="The confirm password is required and cannot be empty"
                                                   data-bv-identical="true" data-bv-identical-field="password" data-bv-identical-message="The password and its confirm are not the same"
                                                   data-bv-different="true" data-bv-different-field="username" data-bv-different-message="The password cannot be the same as username" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Languages</label>
                                        <div class="col-lg-5">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="english" data-bv-notempty="true" data-bv-message="Please specify at least one language you can speak" /> English
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="french" /> French
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="german" /> German
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="russian" /> Russian
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="other" /> Other
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="attribute-html-tab">
                                <pre><code lang="xml">&lt;form id="attributeForm" method="post" class="form-horizontal"
    <span class="bv-note">data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"</span>>
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Full name&lt;/label>
        &lt;div class="col-lg-4">
            &lt;input type="text" class="form-control" name="firstName" placeholder="First name"
                <span class="bv-note">data-bv-notempty="true"
                data-bv-notempty-message="The first name is required and cannot be empty"</span> />
        &lt;/div>
        &lt;div class="col-lg-4">
            &lt;input type="text" class="form-control" name="lastName" placeholder="Last name"
                <span class="bv-note">data-bv-notempty="true"
                data-bv-notempty-message="The last name is required and cannot be empty"</span> />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Username&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="username"
                <span class="bv-note">data-bv-message="The username is not valid"</span>

                <span class="bv-note">data-bv-notempty="true"
                data-bv-notempty-message="The username is required and cannot be empty"</span>

                <span class="bv-note">data-bv-regexp="true"
                data-bv-regexp-regexp="[a-zA-Z0-9_\.]+"
                data-bv-regexp-message="The username can only consist of alphabetical, number, dot and underscore"</span>

                <span class="bv-note">data-bv-stringlength="true"
                data-bv-stringlength-min="6"
                data-bv-stringlength-max="30"
                data-bv-stringlength-message="The username must be more than 6 and less than 30 characters long"</span>

                <span class="bv-note">data-bv-different="true"
                data-bv-different-field="password"
                data-bv-different-message="The username and password cannot be the same as each other"</span> />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Email address&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input class="form-control" name="email" type="email"
                <span class="bv-note">data-bv-emailaddress="true"
                data-bv-emailaddress-message="The input is not a valid email address"</span> />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Password&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="password" class="form-control" name="password"
                <span class="bv-note">data-bv-notempty="true"
                data-bv-notempty-message="The password is required and cannot be empty"</span>

                <span class="bv-note">data-bv-identical="true"
                data-bv-identical-field="confirmPassword"
                data-bv-identical-message="The password and its confirm are not the same"</span>

                <span class="bv-note">data-bv-different="true"
                data-bv-different-field="username"
                data-bv-different-message="The password cannot be the same as username"</span> />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Retype password&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="password" class="form-control" name="confirmPassword"
                <span class="bv-note">data-bv-notempty="true"
                data-bv-notempty-message="The confirm password is required and cannot be empty"</span>

                <span class="bv-note">data-bv-identical="true"
                data-bv-identical-field="password"
                data-bv-identical-message="The password and its confirm are not the same"</span>

                <span class="bv-note">data-bv-different="true"
                data-bv-different-field="username"
                data-bv-different-message="The password cannot be the same as username"</span> />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Languages&lt;/label>
        &lt;div class="col-lg-5">
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="english"
                        <span class="bv-note">data-bv-message="Please specify at least one language you can speak"
                        data-bv-notempty="true"</span> /> English
                &lt;/label>
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="french" /> French
                &lt;/label>
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="german" /> German
                &lt;/label>
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="russian" /> Russian
                &lt;/label>
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="other" /> Other
                &lt;/label>
            &lt;/div>
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                            </div>

                            <div class="tab-pane" id="attribute-js-tab">
                                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#attributeForm').bootstrapValidator();
});
&lt;/script></code></pre>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#attributeForm').bootstrapValidator();
});
</script>
