---
layout:           doc
title:            Play with Bootbox
permalink:        /examples/bootbox/
categories:       [Compatibility]
previous_section:
next_section:
comments:         true
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/examples/">Examples</a> / Basic</h1>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                {% include example.html category='Compatibility' %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="bootbox">Play with Bootbox</h2>
                    <p>Use with the <a href="http://bootboxjs.com/">Bootbox.js</a> plugin.</p>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#bootbox-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#bootbox-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#bootbox-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="bootbox-form-tab">
                                <div class="text-center" style="margin-top: 20px;">
                                    <button class="btn btn-default" id="loginButton">Login</button>
                                </div>
                            </div>

                            <div class="tab-pane" id="bootbox-html-tab">
{% highlight html hl_lines="2 7" %}
<!-- Include bootbox.js -->
<script src="//oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>

<button class="btn btn-default" id="loginButton">Login</button>

<!-- The login modal. Don't display it initially -->
<form id="loginForm" method="post" class="form-horizontal" style="display: none;">
    <div class="form-group">
        <label class="col-md-3 control-label">Username</label>
        <div class="col-md-5">
            <input type="text" class="form-control" name="username" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">Password</label>
        <div class="col-md-5">
            <input type="password" class="form-control" name="password" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5 col-md-offset-3">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </div>
</form>
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="bootbox-js-tab">
{% highlight javascript hl_lines="28 30 35 40 46" %}
$(document).ready(function() {
    $('#loginForm')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: 'The username is required'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required'
                        }
                    }
                }
            }
        });

    // Login button click handler
    $('#loginButton').on('click', function() {
        bootbox
            .dialog({
                title: 'Login',
                message: $('#loginForm'),
                show: false // We will show it manually later
            })
            .on('shown.bs.modal', function() {
                $('#loginForm')
                    .show()                                 // Show the login form
                    .bootstrapValidator('resetForm', true); // Reset form
            })
            .on('hide.bs.modal', function(e) {
                // Bootbox will remove the modal (including the body which contains the login form)
                // after hiding the modal
                // Therefor, we need to backup the form
                $('#loginForm').hide().appendTo('body');
            })
            .modal('show');
    });
});
{% endhighlight %}
                            </div>
                        </div>
                    </div>

                    <p>If you want to use Ajax to <a href="/examples/ajax-submit/">submit</a> the form, and then close the modal, we can use the <a href="/settings/#event-form">success.form.bv</a> event:</p>
{% highlight javascript hl_lines="6 8 14 18" %}
$(document).ready(function() {
    $('#loginForm')
        .bootstrapValidator({
            ...
        })
        .on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

            var $form = $(e.target),                        // The form instance
                bv    = $form.data('bootstrapValidator');   // BootstrapValidator instance

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                // ... Process the result ...

                // Hide the modal containing the form
                $form.parents('.bootbox').modal('hide');
            }, 'json');
        });

    // Login button click handler
    $('#loginButton').on('click', function() {
        // Same code as above
        ...
    });
});
{% endhighlight %}
                </section>

                <section>
                    <h3 id="related-example">Related example</h3>
                    <ul>
                        <li><a href="/examples/modal/">Validate a form placed inside a Bootstrap modal</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>

<form id="loginForm" method="post" class="form-horizontal" style="display: none;">
    <div class="form-group">
        <label class="col-md-3 control-label">Username</label>
        <div class="col-md-5">
            <input type="text" class="form-control" name="username" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Password</label>
        <div class="col-md-5">
            <input type="password" class="form-control" name="password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-5 col-md-offset-3">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </div>
</form>

<script src="//oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>
<script>
$(document).ready(function() {
    $('#loginButton').on('click', function() {
        bootbox
            .dialog({
                title: 'Login',
                message: $('#loginForm'),
                show: false
            })
            .on('shown.bs.modal', function() {
                $('#loginForm')
                    .show()                                 // Show the login form
                    .bootstrapValidator('resetForm', true); // Reset form
            })
            .on('hide.bs.modal', function(e) {
                $('#loginForm').hide().appendTo('body');
            })
            .modal('show');
    });

    $('#loginForm')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: 'The username is required'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

            var $form     = $(e.target),
                validator = $form.data('bootstrapValidator'),
                username  = validator.getFieldElements('username').val();

            // Hide the modal containing the form
            $form.parents('.bootbox').modal('hide');

            // Show the welcome dialog
            bootbox.alert('Welcome back, ' + username);
        });
});
</script>
