---
layout:           doc
title:            Play with Chosen
permalink:        /examples/chosen/
previous_section:
next_section:
comments:         true
---

<link rel="stylesheet" href="/vendor/chosen/chosen.min.css" />
<style type="text/css">
#chosenForm .chosen-choices {
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 34px;
    padding: 6px 12px;
}
#chosenForm .form-control-feedback {
    z-index: 100;
}
</style>

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/examples/">Examples</a> / Compatibility</h1>
                <p>Play with Chosen</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                {% include example-compatibility.html %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="chosen">Chosen</h2>
                    <p>Use with the <a href="http://harvesthq.github.io/chosen/">Chosen</a> plugin.</p>
                    <p>The <i>Favorite color</i> option requires to choose 2-4 colors you like most.</p>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#chosen-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#chosen-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#chosen-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="chosen-form-tab">
                                <form id="chosenForm" method="post" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Favorite color</label>
                                        <div class="col-lg-5">
                                            <select class="form-control chosen-select" name="colors" multiple data-placeholder="Choose 2-4 colors">
                                                <option value="black">Black</option>
                                                <option value="blue">Blue</option>
                                                <option value="green">Green</option>
                                                <option value="orange">Orange</option>
                                                <option value="red">Red</option>
                                                <option value="yellow">Yellow</option>
                                                <option value="white">White</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-5 col-lg-offset-3">
                                            <button type="submit" class="btn btn-primary">Validate</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="chosen-html-tab">
                                <pre><code class="xml">&lt;!-- Include chosen CSS -->
&lt;link rel="stylesheet" href="/vendor/chosen/chosen.min.css" />
&lt;style type="text/css">
#chosenForm .chosen-choices {
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 34px;
    padding: 6px 12px;
}
<span class="bv-note">#chosenForm .form-control-feedback {
    /* To make the feedback icon visible */
    z-index: 100;
}</span>
&lt;/style>
&lt;form id="chosenForm" method="post" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Favorite color&lt;/label>
        &lt;div class="col-lg-5">
            &lt;select name="colors" class="form-control <span class="bv-note">chosen-select</span>"
                <span class="bv-note">multiple data-placeholder="Choose 2-4 colors"</span>>
                &lt;option value="black">Black&lt;/option>
                &lt;option value="blue">Blue&lt;/option>
                &lt;option value="green">Green&lt;/option>
                &lt;option value="orange">Orange&lt;/option>
                &lt;option value="red">Red&lt;/option>
                &lt;option value="yellow">Yellow&lt;/option>
                &lt;option value="white">White&lt;/option>
            &lt;/select>
        &lt;/div>
    &lt;/div>
    &lt;div class="form-group">
        &lt;div class="col-lg-5 col-lg-offset-3">
            &lt;button type="submit" class="btn btn-primary">Validate&lt;/button>
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                            </div>

                            <div class="tab-pane" id="chosen-js-tab">
                                <pre><code class="xml javascript">&lt;!-- Include choosen JS -->
&lt;script src="/vendor/chosen/chosen.jquery.min.js">&lt;/script>
&lt;script>
$(document).ready(function() {
    $('#chosenForm')
        .find('[name="colors"]')
            .chosen()
            // Re-validate the color when it is changed
            <span class="bv-note">.change(function(e) {
                $('#chosenForm')
                    .data('bootstrapValidator')
                    .updateStatus('colors', 'NOT_VALIDATED')
                    .validateField('colors');
            })</span>
            .end()
        .bootstrapValidator({
            <span class="bv-note">excluded: ':disabled'</span>,
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                colors: {
                    validators: {
                        callback: {
                            message: 'Please choose 2-4 color you like most',
                            callback: function(value, validator) {
                                // Get the selected options
                                var options = validator.getFieldElements('colors').val();
                                return (options != null && options.length >= 2 && options.length <= 4);
                            }
                        }
                    }
                }
            }
        });
});
&lt;/script></code></pre>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="/vendor/chosen/chosen.jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('#chosenForm')
        .find('[name="colors"]')
            .chosen()
            .change(function(e) {
                $('#chosenForm').data('bootstrapValidator').updateStatus('colors', 'NOT_VALIDATED').validateField('colors');
            })
            .end()
        .bootstrapValidator({
            excluded: ':disabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function(validator, form, submitButton) {
                // Do nothing
            },
            fields: {
                colors: {
                    validators: {
                        callback: {
                            message: 'Please choose 2-4 color you like most',
                            callback: function(value, validator) {
                                // Get the selected options
                                var options = validator.getFieldElements('colors').val();
                                return (options != null && options.length >= 2 && options.length <= 4);
                            }
                        }
                    }
                }
            }
        });
});
</script>
