---
layout:           doc
title:            Play with Mask plugin
permalink:        /examples/tab/
previous_section:
next_section:
comments:         true
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/examples/">Examples</a> / Compatibility</h1>
                <p>Play with Mask plugin</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                {% include example-compatibility.html %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="mask">Mask</h2>
                    <p>Use with the <a href="http://igorescobar.github.io/jQuery-Mask-Plugin/">Mask</a> plugin.</p>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#mask-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#mask-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#mask-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="mask-form-tab">
                                <form id="maskForm" method="post" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">IP address</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" name="ipAddress" />
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="mask-html-tab">
                                <pre><code class="xml">&lt;form id="maskForm" method="post" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">IP address&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="ipAddress" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                            </div>

                            <div class="tab-pane" id="mask-js-tab">
                                <pre><code class="xml javascript">&lt;!-- Include Mask plugin -->
<span class="bv-note">&lt;script src="/vendor/mask/jquery.mask.min.js">&lt;/script></span>
&lt;script>
$(document).ready(function() {
    $('#maskForm')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                ipAddress: {
                    validators: {
                        ip: {
                            message: 'The IP address is not valid'
                        }
                    }
                }
            }
        })
        <span class="bv-note">.find('[name="ipAddress"]').mask('099.099.099.099')</span>;
});
&lt;/script></code></pre>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="/vendor/mask/jquery.mask.min.js"></script>
<script>
$(document).ready(function() {
    $('#maskForm')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                ipAddress: {
                    validators: {
                        ip: {
                            message: 'The IP address is not valid'
                        }
                    }
                }
            }
        })
        .find('[name="ipAddress"]').mask('099.099.099.099');
});
</script>
