---
layout:           doc
title:            Play with Raty
permalink:        /examples/raty/
categories:       [Compatibility]
previous_section:
next_section:
comments:         true
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/examples/">Examples</a> / Compatibility</h1>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                {% include example.html category='Compatibility' %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="raty">Play with Raty</h2>
                    <p>Use with the <a href="http://wbotelhos.com/raty">Raty</a> plugin. At first, try to click the <i>Validate</i> button to validate the form. Then click the <i>Rating</i>, fill in other fields, and click the <i>Validate</i> button again to
                    see that the <i>Rating</i> is validated.</p>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#raty-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#raty-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#raty-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="raty-form-tab">
                                <form id="ratyForm" method="post" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Rating</label>
                                        <div class="col-lg-5">
                                            <div id="ratyRating"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Review title</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" name="title" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Your review</label>
                                        <div class="col-lg-5">
                                            <textarea rows="5" class="form-control" name="content"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-5 col-lg-offset-3">
                                            <button type="submit" class="btn btn-primary">Validate</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="raty-html-tab">
                                <pre><code class="xml">&lt;form id="ratyForm" method="post" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Rating&lt;/label>
        &lt;div class="col-lg-5">
            <span class="bv-note">&lt;div id="ratyRating">&lt;/div></span>
        &lt;/div>
    &lt;/div>
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Review title&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="title" />
        &lt;/div>
    &lt;/div>
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Your review&lt;/label>
        &lt;div class="col-lg-5">
            &lt;textarea rows="5" class="form-control" name="content">&lt;/textarea>
        &lt;/div>
    &lt;/div>
    &lt;div class="form-group">
        &lt;div class="col-lg-5 col-lg-offset-3">
            &lt;button type="submit" class="btn btn-primary">Validate&lt;/button>
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                            </div>

                            <div class="tab-pane" id="raty-js-tab">
                                <pre><code class="xml javascript">&lt;!-- Include Raty JS file -->
&lt;script src="/vendor/raty/jquery.raty.min.js">&lt;/script>
&lt;script>
$(document).ready(function() {
    // Raty example
    $('#ratyRating').raty({
        path: '/vendor/raty/img',
        size: 24,
        // The name of hidden field generated by Raty
        <span class="bv-note">scoreName: 'star'</span>,
        // Re-validate the star rating whenever user change it
        <span class="bv-note">click: function (score, evt) {
            $('#ratyForm').bootstrapValidator('revalidateField', 'star');
        }</span>
    });
    $('#ratyForm')
        .bootstrapValidator({
            // The disabled elements are excluded
            // Hidden elements (including the rating star) are included
            <span class="bv-note">excluded: ':disabled'</span>,
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                <span class="bv-note">star</span>: {
                    validators: {
                        notEmpty: {
                            message: 'The rating is required'
                        }
                    }
                },
                title: {
                    validators: {
                        notEmpty: {
                            message: 'The review title is required'
                        }
                    }
                },
                content: {
                    validators: {
                        notEmpty: {
                            message: 'The review content is required'
                        },
                        stringLength: {
                            max: 200,
                            message: 'The review content must be less than 200 characters'
                        }
                    }
                }
            }
        });
});
&lt;/script></code></pre>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="/vendor/raty/jquery.raty.min.js"></script>
<script>
$(document).ready(function() {
    $('#ratyRating').raty({
        path: '/vendor/raty/img',
        size: 24,
        scoreName: 'star',
        click: function(score, evt) {
            $('#ratyForm').bootstrapValidator('revalidateField', 'star');
        }
    });
    $('#ratyForm')
        .bootstrapValidator({
            excluded: ':disabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function(validator, form, submitButton) {
                // Do nothing
            },
            fields: {
                star: {
                    validators: {
                        notEmpty: {
                            message: 'The rating is required'
                        }
                    }
                },
                title: {
                    validators: {
                        notEmpty: {
                            message: 'The review title is required'
                        }
                    }
                },
                content: {
                    validators: {
                        notEmpty: {
                            message: 'The review content is required'
                        },
                        stringLength: {
                            max: 200,
                            message: 'The review content must be less than 200 characters'
                        }
                    }
                }
            }
        });
});
</script>
