---
layout: base
title: Playing with Raty
permalink: /examples/raty/
comments: true
---

<div class="doc-page-content">
    <div class="doc-page-heading">
        <h1>Playing with Raty</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include edit-button.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Use with the <a href="http://wbotelhos.com/raty">Raty</a> plugin.</p>

                <div class="doc-demo">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#raty-form-tab" data-toggle="tab">Try it</a></li>
                        <li><a href="#raty-html-tab" data-toggle="tab">HTML</a></li>
                        <li><a href="#raty-js-tab" data-toggle="tab">JS</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="raty-form-tab">
                        {% include examples/raty/example.html %}
                        </div>

                        <div class="tab-pane" id="raty-html-tab">
{% highlight html %}
{% include examples/raty/example.html %}
{% endhighlight %}
                        </div>

                        <div class="tab-pane" id="raty-js-tab">
{% highlight javascript %}
{% include examples/raty/example.js %}
{% endhighlight %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
{% include examples/raty/example.js %}
</script>