---
layout:           doc
title:            Play with Summernote
permalink:        /examples/summernote/
categories:       [Compatibility]
previous_section:
next_section:
comments:         true
---

<link href="/vendor/summernote/summernote.css" rel="stylesheet">
<link href="/vendor/summernote/summernote-bs3.css" rel="stylesheet">

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/examples/">Examples</a> / Compatibility</h1>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                {% include example.html category='Compatibility' %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="summernote">Play with Summernote</h2>
                    <p>This example shows how to use BootstrapValidator with <a href="http://hackerwins.github.io/summernote/">Summernote</a> plugin.</p>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#summernote-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#summernote-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#summernote-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="summernote-form-tab">
                                <form id="summernoteForm" method="post" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Post title</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" name="title" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Post content</label>
                                        <div class="col-md-9">
                                            <textarea class="form-control" name="content" style="height: 400px;"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-5 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Validate</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="summernote-html-tab"></div>
                            <div class="tab-pane" id="summernote-js-tab"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="/vendor/summernote/summernote.min.js"></script>
<script>
$(document).ready(function() {
    function validateEditor() {
        $('#summernoteForm')
            .bootstrapValidator('updateStatus', 'content', 'NOT_VALIDATED')
            .bootstrapValidator('validateField', 'content');
    };

    $('#summernoteForm')
        .bootstrapValidator({
            excluded: [':disabled'],
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function(validator, form) {
                // Do nothing
            },
            fields: {
                title: {
                    validators: {
                        notEmpty: {
                            message: 'The title is required and cannot be empty'
                        }
                    }
                },
                content: {
                    validators: {
                        notEmpty: {
                            message: 'The content is required and cannot be empty'
                        },
                        callback: {
                            callback: function(value, validator) {
                                var code = $('[name="content"]').code();
                                switch (code) {
                                    case '<p><br></p>':
                                    case '':
                                        return false;
                                    default:
                                        return true;
                                }
                            }
                        }
                    }
                }
            }
        })
        .find('[name="content"]')
            .summernote({
                height: 400,
                onkeyup: function() {
                    validateEditor();
                },
                onpaste: function() {
                    validateEditor();
                }
            });
});
</script>
