---
layout:           doc
title:            Changing the tooltip, popover's position
permalink:        /examples/tooltip-popover-position/
categories:       [Advance]
previous_section:
next_section:
comments:         true
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/examples/">Examples</a> / Advance</h1>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                {% include example.html category='Advance' %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2>Changing the tooltip, popover's position</h2>
                    <p>When you choose to use Bootstrap <a href="http://getbootstrap.com/javascript/#tooltips">Tooltip</a> or <a href="http://getbootstrap.com/javascript/#popovers">Popover</a> as <a href="/settings/#form-container">container</a>, all tooltips/popovers will be shown positioned to the top, but you can change their position by triggering the <a href="/settings/#event-field">error.field.bv</a> event as below.</p>

                    <section>
                        <h3 id="using-tooltip">Using the tooltip as container</h3>
                        <p>The following form uses <a href="http://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltip</a>, positioned to the right, to show the error message.</p>
                        <div class="bv-example">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tooltip-container-form-tab" data-toggle="tab">Try it</a></li>
                                <li><a href="#tooltip-container-html-tab" data-toggle="tab">HTML</a></li>
                                <li><a href="#tooltip-container-js-tab" data-toggle="tab">JS</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="tooltip-container-form-tab">
                                    <form id="tooltipContainerForm" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Full name</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="firstName" placeholder="First name" />
                                            </div>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="lastName" placeholder="Last name" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Phone number</label>
                                            <div class="col-lg-5">
                                                <input type="text" class="form-control" name="phone" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-9 col-lg-offset-3">
                                                <button type="submit" class="btn btn-default">Validate</button>
                                                <button type="button" class="btn btn-danger" id="resetTooltip">Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="tooltip-container-html-tab">
{% highlight html %}
<form id="tooltipContainerForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">Full name</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="firstName" placeholder="First name" />
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="lastName" placeholder="Last name" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Phone number</label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="phone" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
            <button type="submit" class="btn btn-default">Validate</button>
        </div>
    </div>
</form>
{% endhighlight %}
                                </div>

                                <div class="tab-pane" id="tooltip-container-js-tab">
{% highlight javascript hl_lines="4 37 44" %}
$(document).ready(function() {
    $('#tooltipContainerForm')
        .bootstrapValidator({
            container: 'tooltip',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                firstName: {
                    validators: {
                        notEmpty: {
                            message: 'The first name is required and can not be empty'
                        }
                    }
                },
                lastName: {
                    validators: {
                        notEmpty: {
                            message: 'The last name is required and can not be empty'
                        }
                    }
                },
                phone: {
                    validators: {
                        digits: {
                            message: 'The phone number can contain digits only'
                        },
                        notEmpty: {
                            message: 'The phone number is required and can not be empty'
                        }
                    }
                }
            }
        })
        .on('error.field.bv', function(e, data) {
            // Get the tooltip
            var $parent = data.element.parents('.form-group'),
                $icon   = $parent.find('.form-control-feedback[data-bv-icon-for="' + data.field + '"]'),
                title   = $icon.data('bs.tooltip').getTitle();

            // Destroy the old tooltip and create a new one positioned to the right
            $icon.tooltip('destroy').tooltip({
                html: true,
                placement: 'right',
                title: title,
                container: 'body'
            });
        });
});
{% endhighlight %}
                                </div>
                            </div>
                        </div>

                        <p>The code behind the reset button:</p>
                        <div class="bv-example">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tooltip-container-reset-html-tab" data-toggle="tab">HTML</a></li>
                                <li><a href="#tooltip-container-reset-js-tab" data-toggle="tab">JS</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="tooltip-container-reset-html-tab">
{% highlight html %}
<button type="button" class="btn btn-danger" id="resetTooltip">Reset</button>
{% endhighlight %}
                                </div>
                                <div class="tab-pane" id="tooltip-container-reset-js-tab">
{% highlight javascript %}
// Reset the Tooltip container form
$('#resetTooltip').on('click', function (e) {
    var fields = $('#tooltipContainerForm').data('bootstrapValidator').getOptions().fields,
        $parent, $icon;

    for (var field in fields) {
        $parent = $('[name="' + field + '"]').parents('.form-group');
        $icon   = $parent.find('.form-control-feedback[data-bv-icon-for="' + field + '"]');
        $icon.tooltip('destroy');
    }

    // Then reset the form
    $('#tooltipContainerForm').data('bootstrapValidator').resetForm('resetForm', true);
});
{% endhighlight %}
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h3 id="using-popover">Using the popover as container</h3>
                        <p>The following form uses <a href="http://getbootstrap.com/javascript/#popovers">Bootstrap Popover</a>, positioned to the right, to show the error message.</p>
                        <div class="bv-example">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#popover-container-form-tab" data-toggle="tab">Try it</a></li>
                                <li><a href="#popover-container-html-tab" data-toggle="tab">HTML</a></li>
                                <li><a href="#popover-container-js-tab" data-toggle="tab">JS</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="popover-container-form-tab">
                                    <form id="popoverContainerForm" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Full name</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="firstName" placeholder="First name" />
                                            </div>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="lastName" placeholder="Last name" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Phone number</label>
                                            <div class="col-lg-5">
                                                <input type="text" class="form-control" name="phone" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-9 col-lg-offset-3">
                                                <button type="submit" class="btn btn-default">Validate</button>
                                                <button type="button" class="btn btn-danger" id="resetPopover">Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="popover-container-html-tab">
{% highlight html %}
<form id="popoverContainerForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">Full name</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="firstName" placeholder="First name" />
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="lastName" placeholder="Last name" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Phone number</label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="phone" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
            <button type="submit" class="btn btn-default">Validate</button>
        </div>
    </div>
</form>
{% endhighlight %}
                                </div>

                                <div class="tab-pane" id="popover-container-js-tab">
{% highlight javascript hl_lines="4 37 44" %}
$(document).ready(function() {
    $('#popoverContainerForm')
        .bootstrapValidator({
            container: 'popover',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                firstName: {
                    validators: {
                        notEmpty: {
                            message: 'The first name is required and can not be empty'
                        }
                    }
                },
                lastName: {
                    validators: {
                        notEmpty: {
                            message: 'The last name is required and can not be empty'
                        }
                    }
                },
                phone: {
                    validators: {
                        digits: {
                            message: 'The phone number can contain digits only'
                        },
                        notEmpty: {
                            message: 'The phone number is required and can not be empty'
                        }
                    }
                }
            }
        })
        .on('error.field.bv', function(e, data) {
            // Get the popover
            var $parent = data.element.parents('.form-group'),
                $icon   = $parent.find('.form-control-feedback[data-bv-icon-for="' + data.field + '"]'),
                content = $icon.data('bs.popover').getContent();

            // Destroy the old popover and create a new one positioned to the right
            $icon.popover('destroy').popover({
                html: true,
                placement: 'right',
                content: content,
                trigger: 'hover click',
                container: 'body'
            });
        });
});
{% endhighlight %}
                                </div>
                            </div>
                        </div>

                        <p>The code behind the reset button:</p>
                        <div class="bv-example">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#popover-container-reset-html-tab" data-toggle="tab">HTML</a></li>
                                <li><a href="#popover-container-reset-js-tab" data-toggle="tab">JS</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="popover-container-reset-html-tab">
{% highlight html %}
<button type="button" class="btn btn-danger" id="resetPopover">Reset</button>
{% endhighlight %}
                                </div>
                                <div class="tab-pane" id="popover-container-reset-js-tab">
{% highlight javascript %}
// Reset the Popover container form
$('#resetPopover').on('click', function (e) {
    var fields = $('#popoverContainerForm').data('bootstrapValidator').getOptions().fields,
        $parent, $icon;

    for (var field in fields) {
        $parent = $('[name="' + field + '"]').parents('.form-group');
        $icon   = $parent.find('.form-control-feedback[data-bv-icon-for="' + field + '"]');
        $icon.popover('destroy');
    }

    // Then reset the form
    $('#popoverContainerForm').data('bootstrapValidator').resetForm('resetForm', true);
});
{% endhighlight %}
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    // Tooltip container form
    $('#tooltipContainerForm').bootstrapValidator({
        container: 'tooltip',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            firstName: {
                validators: {
                    notEmpty: {
                        message: 'The first name is required and can not be empty'
                    }
                }
            },
            lastName: {
                validators: {
                    notEmpty: {
                        message: 'The last name is required and can not be empty'
                    }
                }
            },
            phone: {
                validators: {
                    digits: {
                        message: 'The phone number can contain digits only'
                    },
                    notEmpty: {
                        message: 'The phone number is required and can not be empty'
                    }
                }
            }
        }
    })
    .on('error.field.bv', function(e, data) {
        // Get the tooltip
        var $parent = data.element.parents('.form-group'),
            $icon   = $parent.find('.form-control-feedback[data-bv-icon-for="' + data.field + '"]'),
            title   = $icon.data('bs.tooltip').getTitle();

        $icon.tooltip('destroy').tooltip({
            html: true,
            placement: 'right',
            title: title,
            container: 'body'
        });
    })
    .on('success.form.bv', function (e) {
        e.preventDefault();
    });

    // Reset the Tooltip container form
    $('#resetTooltip').on('click', function (e) {
        var fields = $('#tooltipContainerForm').data('bootstrapValidator').getOptions().fields,
            $parent, $icon;

        for (var field in fields) {
            $parent = $('[name="' + field + '"]').parents('.form-group');
            $icon   = $parent.find('.form-control-feedback[data-bv-icon-for="' + field + '"]');
            $icon.tooltip('destroy');
        }

        // Then reset the form
        $('#tooltipContainerForm').data('bootstrapValidator').resetForm('resetForm', true);
    });

    // Popover container form
    $('#popoverContainerForm').bootstrapValidator({
        container: 'popover',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            firstName: {
                validators: {
                    notEmpty: {
                        message: 'The first name is required and can not be empty'
                    }
                }
            },
            lastName: {
                validators: {
                    notEmpty: {
                        message: 'The last name is required and can not be empty'
                    }
                }
            },
            phone: {
                validators: {
                    digits: {
                        message: 'The phone number can contain digits only'
                    },
                    notEmpty: {
                        message: 'The phone number is required and can not be empty'
                    }
                }
            }
        }
    })
    .on('error.field.bv', function(e, data) {
        // Get the popover
        var $parent = data.element.parents('.form-group'),
            $icon   = $parent.find('.form-control-feedback[data-bv-icon-for="' + data.field + '"]'),
            content = $icon.data('bs.popover').getContent();

        $icon.popover('destroy').popover({
            html: true,
            placement: 'right',
            content: content,
            trigger: 'hover click',
            container: 'body'
        });
    })
    .on('success.form.bv', function (e) {
        e.preventDefault();
    });

    // Reset the Popover container form
    $('#resetPopover').on('click', function (e) {
        var fields = $('#popoverContainerForm').data('bootstrapValidator').getOptions().fields,
            $parent, $icon;

        for (var field in fields) {
            $parent = $('[name="' + field + '"]').parents('.form-group');
            $icon   = $parent.find('.form-control-feedback[data-bv-icon-for="' + field + '"]');
            $icon.popover('destroy');
        }

        // Then reset the form
        $('#popoverContainerForm').data('bootstrapValidator').resetForm('resetForm', true);
    });
});
</script>
