---
layout:           doc
title:            choice validator
permalink:        /validators/choice/
previous_section: /validators/callback/
next_section:     /validators/creditCard/
comments:         true
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/validators/">Validators</a> / choice</h1>
                <p>Check if the number of checked boxes are less or more than a given number.</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                <ul>
                    <li><a href="#options">Options</a></li>
                    <li><a href="#example">Example</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="options">Options</h2>
                    <p>The validator also supports the <code>select</code> element if the <code>multiple="multiple"</code> attribute is set.</p>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>Equivalent HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-choice-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                            <tr>
                                <td><code>min</code></td>
                                <td><code>data-bv-choice-min</code></td>
                                <td>Number</td>
                                <td>The minimum number of check boxes required to be checked</td>
                            </tr>
                            <tr>
                                <td><code>max</code></td>
                                <td><code>data-bv-choice-max</code></td>
                                <td>Number</td>
                                <td>The maximum number of check boxes required to be checked. At least one of <code>min</code> and <code>max</code> is required</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="bv-box bv-box-info">
                        <p>In order to get the correct submit data in the server side, you should pay attention on setting the <code>name</code> attribute of checkbox/select elements.</p>
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Server side</th>
                                    <th>name attribute</th>
                                    <th>Example</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PHP</td>
                                    <td><code>name[]</code></td>
                                    <td><pre><code class="xml">&lt;input type="checkbox" name="languages[]" />
&lt;select name="editors[]" multiple="multiple">&lt;/select></code></pre>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://projects.spring.io/spring-framework/">Spring framework</a></td>
                                    <td><code>name</code></td>
                                    <td><pre><code class="xml">&lt;input type="checkbox" name="languages" />
&lt;select name="editors" multiple="multiple">&lt;/select></code></pre></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>

                <section>
                    <h2 id="example">Example</h2>

                    <p>The following form asks a developer to choose 2-4 programming languages which he/she is good at:</p>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#choice-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#choice-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#choice-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="choice-form-tab">
                                <form id="interviewForm" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Programming Languages</label>
                                        <div class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="net" /> .Net
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="java" /> Java
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="c" /> C/C++
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="php" /> PHP
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="perl" /> Perl
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="ruby" /> Ruby
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="python" /> Python
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="languages[]" value="javascript" /> Javascript
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Editors</label>
                                        <div class="col-lg-4">
                                            <select class="form-control" name="editors[]" multiple="multiple" style="height: 200px;">
                                                <option value="" disabled>Choose 2 - 3 editors</option>
                                                <option value="atom">Atom</option>
                                                <option value="eclipse">Eclipse</option>
                                                <option value="netbeen">NetBean</option>
                                                <option value="nodepadplusplus">Nodepad++</option>
                                                <option value="phpstorm">PHP Storm</option>
                                                <option value="sublime">Sublime</option>
                                                <option value="webstorm">Web Storm</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="choice-html-tab">
                                <pre><code class="xml">&lt;form id="interviewForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Programming Languages&lt;/label>
        &lt;div class="col-lg-4">
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="net" /> .Net
                &lt;/label>
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="java" /> Java
                &lt;/label>
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="c" /> C/C++
                &lt;/label>
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="php" /> PHP
                &lt;/label>
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="perl" /> Perl
                &lt;/label>
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="ruby" /> Ruby
                &lt;/label>
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages[]" value="python" /> Python
                &lt;/label>
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label>
                    &lt;input type="checkbox" name="languages" value="javascript" /> Javascript
                &lt;/label>
            &lt;/div>
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Editors&lt;/label>
        &lt;div class="col-lg-4">
            &lt;select class="form-control" <span class="bv-note">name="editors[]" multiple="multiple"</span> style="height: 200px;">
                &lt;option value="" disabled>Choose 2 - 3 editors&lt;/option>
                &lt;option value="atom">Atom&lt;/option>
                &lt;option value="eclipse">Eclipse&lt;/option>
                &lt;option value="netbeen">NetBean&lt;/option>
                &lt;option value="nodepadplusplus">Nodepad++&lt;/option>
                &lt;option value="phpstorm">PHP Storm&lt;/option>
                &lt;option value="sublime">Sublime&lt;/option>
                &lt;option value="webstorm">Web Storm&lt;/option>
            &lt;/select>
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                            </div>

                            <div class="tab-pane" id="choice-js-tab">
                                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#interviewForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            'languages[]': {
                validators: {
                    <span class="bv-note">choice: {
                        min: 2,
                        max: 4,
                        message: 'Please choose 2 - 4 programming languages you are good at'
                    }</span>
                }
            },
            'editors[]': {
                validators: {
                    <span class="bv-note">choice: {
                        min: 2,
                        max: 3,
                        message: 'Please choose 2 - 3 editors you use most'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
                            </div>
                        </div>
                    </div>
                </section>

                {% include related.html %}
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#interviewForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            'languages[]': {
                validators: {
                    choice: {
                        min: 2,
                        max: 4,
                        message: 'Please choose 2 - 4 programming languages you are good at'
                    }
                }
            },
            'editors[]': {
                validators: {
                    choice: {
                        min: 2,
                        max: 3,
                        message: 'Please choose 2 - 3 editors you use most'
                    }
                }
            }
        }
    });
});
</script>