---
layout:           base
title:            Validate a date
permalink:        /validators/date/
previous_section: /validators/cvv/
next_section:     /validators/different/
comments:         true
---

<div class="doc-page-content">
    <div class="doc-page-heading">
        <h1>date validator</h1>
        <p>Validate a date</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>format</code><sup>*</sup></td>
                                <td><code>data-bv-date-format</code></td>
                                <td>String</td>
                                <td>The date format. It is <code>MM/DD/YYYY</code>, by default</td>
                            </tr>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-date-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                            <tr>
                                <td><code>separator</code></td>
                                <td><code>data-bv-date-separator</code></td>
                                <td>String</td>
                                <td>Used to separate the day, month, and year. It is <code>/</code>, by default</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>The <code>format</code> can combine date, time, and AM/PM indicator sections:</p>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Section</th>
                                <th>Token</th>
                                <th>Separator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Date</td>
                                <td>DD, MM, YYYY</td>
                                <td>Defined by the <code>separator</code> option.<br/>Most popular examples are a slash (/), hyphen (-), or dot (.)</td>
                            </tr>
                            <tr>
                                <td>Time</td>
                                <td>h, m, s</td>
                                <td>a colon (:)</td>
                            </tr>
                            <tr>
                                <td>AM/PM</td>
                                <td>A</td>
                                <td>n/a</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>The following table describes the token meanings, defined by <a href="http://momentjs.com/docs/#/displaying/format/">momentjs</a>, one of most popular Javascript datetime library:</p>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Token</th>
                                <th>Description</th>
                                <th>Required</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>MM</td>
                                <td>Month number</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>DD</td>
                                <td>Day of month</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>YYYY</td>
                                <td>4 digit year</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>h</td>
                                <td>12 hour time</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>m</td>
                                <td>Minutes</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>s</td>
                                <td>Seconds</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>AM/PM</td>
                                <td>No</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>Below are some example of possible formats:</p>
                    <ul class="doc-list">
                        <li>YYYY/DD/MM</li>
                        <li>YYYY/DD/MM h</li>
                        <li>YYYY/DD/MM h A</li>
                        <li>YYYY/DD/MM h:m</li>
                        <li>YYYY/DD/MM h:m A</li>
                        <li>YYYY/DD/MM h:m:s</li>
                        <li>YYYY/DD/MM h:m:s A</li>
                        <li>YYYY-MM-DD</li>
                        <li>YYYY-MM-DD h:m A</li>
                        <li>DD/MM/YYYY</li>
                        <li>DD/MM/YYYY h:m A</li>
                        <li>MM-DD-YYYY</li>
                        <li>MM-DD-YYYY h:m A</li>
                        <li>DD-MM-YYYY</li>
                        <li>DD-MM-YYYY h:m A</li>
                    </ul>

                    <p>It's possible to support other date format by using <a href="/validators/callback/">callback</a> validator as shown in the <a href="#custom-format-example">Custom format example</a>.</p>

                    <div class="doc-alert doc-alert-info">
                        The date validator also checks the number of days in February of leap year. For example, 02/29/2000 is valid date, while 02/29/2001 is invalid one
                    </div>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Examples</h2>

                    <h3>Basic example</h3>
                    <p>The following form might be used in a profile setting page:</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#example-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#example-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#example-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="example-form-tab">
                            {% include validators/date/basic-example.html %}
                            </div>

                            <div class="tab-pane" id="example-html-tab">
{% highlight html %}
{% include validators/date/basic-example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="example-js-tab">
{% highlight javascript %}
{% include validators/date/basic-example.js %}
{% endhighlight %}
                            </div>
                        </div>
                    </div>

                    <h3>Datetime picker example</h3>
                    <p>The form below is an example of using the date validator with <a href="http://eonasdan.github.io/bootstrap-datetimepicker/">Bootstrap Datetime Picker</a>:</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#datepicker-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#datepicker-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#datepicker-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="datepicker-form-tab">
                            {% include validators/date/date-picker-example.html %}
                            </div>

                            <div class="tab-pane" id="datepicker-html-tab">
{% highlight html %}
{% include validators/date/date-picker-example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="datepicker-js-tab">
{% highlight javascript %}
{% include validators/date/date-picker-example.js %}
{% endhighlight %}
                            </div>
                        </div>
                    </div>

                    <h3>Custom format example</h3>

                    <p>This example illustrates the ability of validating date in custom format by using the <a href="/validators/callback/">callback</a> validator and <a href="http://momentjs.com/">momentjs</a> to parse/validate.</p>
                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#custom-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#custom-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#custom-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="custom-form-tab">
                            {% include validators/date/custom-format-example.html %}
                            </div>

                            <div class="tab-pane" id="custom-html-tab">
{% highlight html %}
<!-- Include the momentjs library to use later -->
<script src="//oss.maxcdn.com/momentjs/2.8.2/moment.min.js"></script>

{% include validators/date/custom-format-example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="custom-js-tab">
{% highlight javascript %}
{% include validators/date/custom-format-example.js %}
{% endhighlight %}
                            </div>
                        </div>
                    </div>

                    <h3>Date range example</h3>

                    <p>One more example illustrates how to use the <a href="/validators/callback/">callback</a> validator and <a href="http://momentjs.com/">momentjs</a> to check whether or not a date is in given range.</p>
                    <p><a href="http://momentjs.com/">momentjs</a> provides <a href="http://momentjs.com/docs/#/query/is-before/"><code>isBefore()</code></a> and <a href="http://momentjs.com/docs/#/query/is-after/"><code>isAfter()</code></a> methods which are exactly what we need.</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#range-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#range-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#range-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="range-form-tab">
                            {% include validators/date/range-example.html %}
                            </div>

                            <div class="tab-pane" id="range-html-tab">
{% highlight html %}
<!-- Include the momentjs library to use later -->
<script src="//oss.maxcdn.com/momentjs/2.8.2/moment.min.js"></script>

{% include validators/date/range-example.html %}
{% endhighlight %}
                                </div>

                                <div class="tab-pane" id="range-js-tab">
{% highlight javascript %}
{% include validators/date/range-example.js %}
{% endhighlight %}
                                </div>
                            </div>
                        </div>
                </section>
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
{% include validators/date/basic-example.js %}
{% include validators/date/date-picker-example.js %}
{% include validators/date/custom-format-example.js %}
{% include validators/date/range-example.js %}
</script>