---
layout:           doc
title:            Validate a date
permalink:        /validators/date/
previous_section: /validators/cvv/
next_section:     /validators/different/
comments:         true
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/validators/">Validators</a> / date</h1>
                <p>Validate a date.</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                <ul>
                    <li><a href="#options">Options</a></li>
                    <li>
                        <a href="#example">Example</a>
                        <ul>
                            <li><a href="#basic-example">Basic</a></li>
                            <li><a href="#date-picker-example">Datetime picker</a></li>
                            <li><a href="#custom-format-example">Custom format</a></li>
                            <li><a href="#date-range-example">Date range</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="options">Options</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>format</code><sup>*</sup></td>
                                <td><code>data-bv-date-format</code></td>
                                <td>String</td>
                                <td>The date format. It is <code>MM/DD/YYYY</code>, by default</td>
                            </tr>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-date-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                            <tr>
                                <td><code>separator</code></td>
                                <td><code>data-bv-date-separator</code></td>
                                <td>String</td>
                                <td>Used to separate the day, month, and year. It is <code>/</code>, by default</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>The <code>format</code> can combine date, time, and AM/PM indicator sections:</p>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Section</th>
                                <th>Token</th>
                                <th>Separator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Date</td>
                                <td>DD, MM, YYYY</td>
                                <td>Defined by the <code>separator</code> option.<br/>Most popular examples are a slash (/), hyphen (-), or dot (.)</td>
                            </tr>
                            <tr>
                                <td>Time</td>
                                <td>h, m, s</td>
                                <td>a colon (:)</td>
                            </tr>
                            <tr>
                                <td>AM/PM</td>
                                <td>A</td>
                                <td>n/a</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>The following table describes the token meanings, defined by <a href="http://momentjs.com/docs/#/displaying/format/">momentjs</a>, one of most popular Javascript datetime library:</p>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Token</th>
                                <th>Description</th>
                                <th>Required</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>MM</td>
                                <td>Month number</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>DD</td>
                                <td>Day of month</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>YYYY</td>
                                <td>4 digit year</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>h</td>
                                <td>12 hour time</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>m</td>
                                <td>Minutes</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>s</td>
                                <td>Seconds</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>AM/PM</td>
                                <td>No</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>Below are some example of possible formats:</p>
                    <ul class="doc-list">
                        <li>YYYY/DD/MM</li>
                        <li>YYYY/DD/MM h</li>
                        <li>YYYY/DD/MM h A</li>
                        <li>YYYY/DD/MM h:m</li>
                        <li>YYYY/DD/MM h:m A</li>
                        <li>YYYY/DD/MM h:m:s</li>
                        <li>YYYY/DD/MM h:m:s A</li>
                        <li>YYYY-MM-DD</li>
                        <li>YYYY-MM-DD h:m A</li>
                        <li>DD/MM/YYYY</li>
                        <li>DD/MM/YYYY h:m A</li>
                        <li>MM-DD-YYYY</li>
                        <li>MM-DD-YYYY h:m A</li>
                        <li>DD-MM-YYYY</li>
                        <li>DD-MM-YYYY h:m A</li>
                    </ul>

                    <p>It's possible to support other date format by using <a href="/validators/callback/">callback</a> validator as shown in the <a href="#custom-format-example">Custom format example</a>.</p>

                    <div class="bv-box bv-box-info">
                        <h5><i></i>Leap year</h5>
                        <p>The date validator also checks the number of days in February of leap year. For example, 02/29/2000 is valid date, while 02/29/2001 is invalid one.</p>
                    </div>
                </section>

                <section>
                    <h2 id="example">Example</h2>

                    <section>
                        <h3 id="basic-example">Basic</h3>
                        <p>The following form might be used in a profile setting page:</p>

                        <div class="bv-example">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#example-form-tab" data-toggle="tab">Try it</a></li>
                                <li><a href="#example-html-tab" data-toggle="tab">HTML</a></li>
                                <li><a href="#example-js-tab" data-toggle="tab">JS</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="example-form-tab">
                                    <form id="profileForm" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Birthday</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="birthday" />
                                                <span class="help-block">YYYY/MM/DD</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="example-html-tab">
{% highlight html %}
<form id="profileForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">Birthday</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="birthday" />
            <span class="help-block">YYYY/MM/DD</span>
        </div>
    </div>
</form>
{% endhighlight %}
                                </div>

                                <div class="tab-pane" id="example-js-tab">
{% highlight javascript hl_lines="11" %}
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            birthday: {
                validators: {
                    date: {
                        format: 'YYYY/MM/DD',
                        message: 'The value is not a valid date'
                    }
                }
            }
        }
    });
});
{% endhighlight %}
                                </div>
                            </div>
                        </div>
                    </section>


                    <section>
                        <h3 id="date-picker-example">Datetime picker</h3>

                        <p>The form below is an example of using the date validator with <a href="http://eonasdan.github.io/bootstrap-datetimepicker/">Bootstrap Datetime Picker</a>:</p>

                        <link href="/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
                        <style type="text/css">
                        .form-horizontal .has-feedback .input-group .form-control-feedback {
                            top: 0;
                            right: -30px;
                        }
                        </style>

                        <div class="bv-example">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#datepicker-form-tab" data-toggle="tab">Try it</a></li>
                                <li><a href="#datepicker-html-tab" data-toggle="tab">HTML</a></li>
                                <li><a href="#datepicker-js-tab" data-toggle="tab">JS</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="datepicker-form-tab">
                                    <form id="meetingForm" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Meeting time</label>
                                            <div class="col-lg-4">
                                                <div class="input-group date" id="datetimePicker">
                                                    <input type="text" class="form-control" name="meeting" />
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                                <span class="help-block">MM/DD/YYYY h:m A</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="datepicker-html-tab">
{% highlight html hl_lines="10" %}
<!-- Required CSS and JS -->
<link href="/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="/vendor/momentjs/moment.min.js"></script>
<script src="/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<style type="text/css">
/* Override feedback icon position */
.form-horizontal .has-feedback .input-group .form-control-feedback {
    top: 0;
    right: -30px;
}
</style>

<form id="meetingForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">Meeting time</label>
        <div class="col-lg-4">
            <div class="input-group date" id="datetimePicker">
                <input type="text" class="form-control" name="meeting" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="help-block">MM/DD/YYYY h:m A</span>
        </div>
    </div>
</form>
{% endhighlight %}
                                </div>

                                <div class="tab-pane" id="datepicker-js-tab">
{% highlight javascript hl_lines="13 25" %}
$(document).ready(function() {
    $('#datetimePicker').datetimepicker();

    $('#meetingForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            meeting: {
                validators: {
                    date: {
                        format: 'MM/DD/YYYY h:m A',
                        message: 'The value is not a valid date'
                    }
                }
            }
        }
    });

    $('#datetimePicker')
        .on('dp.change dp.show', function(e) {
            // Validate the date when user change it
            $('#meetingForm').bootstrapValidator('revalidateField', 'meeting');
        });
});
{% endhighlight %}
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h3 id="custom-format-example">Custom format</h3>

                        <p>This example illustrates the ability of validating date in custom format by using the <a href="/validators/callback/">callback</a> validator and <a href="http://momentjs.com/">momentjs</a> to parse/validate.</p>

                        <div class="bv-example">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#custom-form-tab" data-toggle="tab">Try it</a></li>
                                <li><a href="#custom-html-tab" data-toggle="tab">HTML</a></li>
                                <li><a href="#custom-js-tab" data-toggle="tab">JS</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="custom-form-tab">
                                    <form id="customFormatForm" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-5 control-label">What's US independence day?</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="independenceDay" />
                                                <span class="help-block">MMM D (Sep 6, for example)</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="custom-html-tab">
{% highlight html %}
<!-- Include the momentjs library to use later -->
<script src="/vendor/momentjs/moment.min.js"></script>

<form id="customFormatForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-5 control-label">What's US independence day?</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="independenceDay" />
            <span class="help-block">MMM D (Sep 6, for example)</span>
        </div>
    </div>
</form>
{% endhighlight %}
                                </div>

                                <div class="tab-pane" id="custom-js-tab">
{% highlight javascript hl_lines="13" %}
$(document).ready(function() {
    $('#customFormatForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            independenceDay: {
                validators: {
                    callback: {
                        message: 'Wrong answer',
                        callback: function(value, validator) {
                            var m = new moment(value, 'MMMM D', true);
                            // Check if the input value follows the MMMM D format
                            if (!m.isValid()) {
                                return false;
                            }
                            // US independence day is July 4
                            return (m.months() == 6 && m.date() == 4);
                        }
                    }
                }
            }
        }
    });
});
{% endhighlight %}
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h3 id="date-range-example">Date range</h3>

                        <p>One more example illustrates how to use the <a href="/validators/callback/">callback</a> validator and <a href="http://momentjs.com/">momentjs</a> to check whether or not a date is in given range.</p>
                        <p><a href="http://momentjs.com/">momentjs</a> provides <a href="http://momentjs.com/docs/#/query/is-before/"><code>isBefore()</code></a> and <a href="http://momentjs.com/docs/#/query/is-after/"><code>isAfter()</code></a> methods which are exactly what we need.</p>

                        <div class="bv-example">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#range-form-tab" data-toggle="tab">Try it</a></li>
                                <li><a href="#range-html-tab" data-toggle="tab">HTML</a></li>
                                <li><a href="#range-js-tab" data-toggle="tab">JS</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="range-form-tab">
                                    <form id="rangeForm" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-6 control-label">Enter a date between 2000/01/01 and 2020/12/30</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="date" />
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="range-html-tab">
{% highlight html %}
<!-- Include the momentjs library to use later -->
<script src="/vendor/momentjs/moment.min.js"></script>

<form id="rangeForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-6 control-label">Enter a date between 2000/01/01 and 2020/12/30</label>
        <div class="col-md-3">
            <input type="text" class="form-control" name="date" />
        </div>
    </div>
</form>
{% endhighlight %}
                                </div>

                                <div class="tab-pane" id="range-js-tab">
{% highlight javascript hl_lines="15" %}
$(document).ready(function() {
    $('#rangeForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            date: {
                validators: {
                    date: {
                        message: 'The date is not valid',
                        format: 'YYYY/MM/DD'
                    },
                    callback: {
                        message: 'The date is not in the range',
                        callback: function(value, validator) {
                            var m = new moment(value, 'YYYY/MM/DD', true);
                            if (!m.isValid()) {
                                return false;
                            }
                            // Check if the date in our range
                            return m.isAfter('2000/01/01') && m.isBefore('2020/12/30');
                        }
                    }
                }
            }
        }
    });
});
{% endhighlight %}
                                </div>
                            </div>
                        </div>
                    </section>
                </section>

                {% include related.html %}
            </div>
        </div>
    </div>
</div>

<script src="/vendor/momentjs/moment.min.js"></script>
<script src="/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script>
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            birthday: {
                validators: {
                    date: {
                        format: 'YYYY/MM/DD',
                        message: 'The value is not a valid date'
                    }
                }
            }
        }
    });

    $('#datetimePicker').datetimepicker();

    $('#meetingForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            meeting: {
                validators: {
                    date: {
                        format: 'MM/DD/YYYY h:m A',
                        message: 'The value is not a valid date'
                    }
                }
            }
        }
    });

    $('#datetimePicker').on('dp.change dp.show', function(e) {
        $('#meetingForm')
            .data('bootstrapValidator')
            .updateStatus('meeting', 'NOT_VALIDATED', null)
            .validateField('meeting');
    });

    $('#customFormatForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            independenceDay: {
                validators: {
                    callback: {
                        message: 'Wrong answer',
                        callback: function(value, validator) {
                            var m = new moment(value, 'MMMM D', true);
                            if (!m.isValid()) {
                                return false;
                            }
                            return (m.months() == 6 && m.date() == 4);
                        }
                    }
                }
            }
        }
    });

    $('#rangeForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            date: {
                validators: {
                    date: {
                        message: 'The date is not valid',
                        format: 'YYYY/MM/DD'
                    },
                    callback: {
                        message: 'The date is not in the range',
                        callback: function(value, validator) {
                            var m = new moment(value, 'YYYY/MM/DD', true);
                            if (!m.isValid()) {
                                return false;
                            }
                            return m.isAfter('2000/01/01') && m.isBefore('2020/12/30');
                        }
                    }
                }
            }
        }
    });
});
</script>
