---
layout:           doc
title:            digits validator
permalink:        /validators/digits/
previous_section: /validators/different/
next_section:     /validators/ean/
comments:         true
related:
    - integer
    - numeric
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/validators/">Validators</a> / digits</h1>
                <p>Return true if the value contains only digits.</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                <ul>
                    <li><a href="#options">Options</a></li>
                    <li><a href="#related-validators">Related validators</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="options">Options</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>Equivalent HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-digits-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                {% include related.html %}
            </div>
        </div>
    </div>
</div>
