---
layout:           default
title:            Validate an email address
permalink:        /validators/emailAddress/
previous_section: /validators/ean/
next_section:     /validators/file/
comments:         true

# http://en.wikipedia.org/wiki/Email_address#Examples
examples:
    - niceandsimple@example.com
    - very.common@example.com
    - a.little.lengthy.but.fine@dept.example.com
    - disposable.style.email.with+symbol@example.com
    - other.email-with-dash@example.com
    - '"much.more unusual"@example.com'
    - '"very.unusual.@.unusual.com"@example.com'
    - '"very.(),:;<>[]\".VERY.\"very@\\ \"very\".unusual"@strange.example.com'
    - admin@mailserver1
    - "!#$%&'*+-/=?^_`{}|~@example.org"
    - '" "@example.org'
    - üñîçøðé@example.com
    - üñîçøðé@üñîçøðé.com
    - Abc.example.com
    - A@b@c@example.com
    - a"b(c)d,e:f;g<h>i[j\k]l@example.com
    - just"not"right@example.com
    - this is"not\allowed@example.com
    - this\ still\"not\\allowed@example.com
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / emailAddress</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate an email address.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-emailaddress-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>

    <div class="doc-box-info">
        This validator passes an empty field since the field might be optional. If the field is required, then use the <a href="/validators/notEmpty/"><code>notEmpty</code> validator</a>.
    </div>
</section>

<section id="example">
    <h2>Example</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Email address</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for email in page.examples %}
            <tr>
                <td><a href="javascript: void(0);" class="sample">{{ email }}</a></td>
                <td><i class="fa"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#email-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#email-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#email-js-tab" data-toggle="tab">JS</a></li>
            <li><a href="#email-html5-tab" data-toggle="tab">HTML 5</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="email-form-tab">
                <form id="emailForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email address</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" name="email" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="email-html-tab">
                <pre><code class="xml">&lt;form id="emailForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Email address&lt;/label>
        &lt;div class="col-lg-7">
            &lt;input type="text" class="form-control" name="email" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="email-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#emailForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            email: {
                validators: {
                    <span class="doc-example-note">emailAddress: {
                        message: 'The value is not a valid email address'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>

            <div class="tab-pane" id="email-html5-tab">
                <pre><code class="xml">&lt;form id="emailForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Email address&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input class="form-control" name="email"
                <span class="doc-example-note">type="email"
                data-bv-emailaddress-message="The value is not a valid email address"</span> />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#emailForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#emailForm')
            .find('input[name="email"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('email', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#emailForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#emailForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            email: {
                validators: {
                    emailAddress: {
                        message: 'The value is not a valid email address'
                    }
                }
            }
        }
    });
});
</script>