---
layout:           doc
title:            Validate a hex color
permalink:        /validators/hexColor/
previous_section: /validators/hex/
next_section:     /validators/iban/
comments:         true
related:
    - regexp
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/validators/">Validators</a> / hexColor</h1>
                <p>Validate a hex color.</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                <ul>
                    <li><a href="#options">Options</a></li>
                    <li>
                        <a href="#example">Example</a>
                        <ul>
                            <li><a href="#basic-example">Basic</a></li>
                            <li><a href="#color-picker-example">Color Picker</a></li>
                        </ul>
                    </li>
                    <li><a href="#related-validators">Related validators</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="options">Options</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>Equivalent HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-hexcolor-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section>
                    <h2 id="example">Example</h2>

                    <section>
                        <h3 id="basic-example">Basic</h3>
                        <div class="bv-example">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#hexcolor-form-tab" data-toggle="tab">Try it</a></li>
                                <li><a href="#hexcolor-html-tab" data-toggle="tab">HTML</a></li>
                                <li><a href="#hexcolor-js-tab" data-toggle="tab">JS</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="hexcolor-form-tab">
                                    <form id="colorForm" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Color</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="color" />
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="hexcolor-html-tab">
{% highlight html %}
<form id="colorForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">Color</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="color" />
        </div>
    </div>
</form>
{% endhighlight %}
                                </div>

                                <div class="tab-pane" id="hexcolor-js-tab">
{% highlight javascript hl_lines="11" %}
$(document).ready(function() {
    $('#colorForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            color: {
                validators: {
                    hexColor: {
                        message: 'The color code is not valid'
                    }
                }
            }
        }
    });
});
{% endhighlight %}
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h3 id="color-picker-example">Color Picker</h3>
                        <p>The following form uses a <a href="http://mjolnic.github.io/bootstrap-colorpicker/">Bootstrap Color Picker</a>.</p>

                        <p>Try to type an invalid color code and choose the picker. The picker automatically fixes or reset the color, and the error message is gone.</p>

                        <link href="/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />

                        <div class="bv-example">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#colorpicker-form-tab" data-toggle="tab">Try it</a></li>
                                <li><a href="#colorpicker-html-tab" data-toggle="tab">HTML</a></li>
                                <li><a href="#colorpicker-js-tab" data-toggle="tab">JS</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="colorpicker-form-tab">
                                    <form id="colorPickerForm" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Color</label>
                                            <div class="col-lg-4">
                                                <div class="input-group" id="colorPicker">
                                                    <input type="text" class="form-control" name="color" />
                                                    <span class="input-group-addon" style="color: #fff">Pick a color</span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="colorpicker-html-tab">
{% highlight html %}
<!-- Required Bootstrap ColorPicker library -->
<link href="/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
<script src="/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

<form id="colorPickerForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">Color</label>
        <div class="col-lg-4">
            <div class="input-group" id="colorPicker">
                <input type="text" class="form-control" name="color" />
                <span class="input-group-addon" style="color: #fff">Pick a color</span>
            </div>
        </div>
    </div>
</form>
{% endhighlight %}
                                </div>

                                <div class="tab-pane" id="colorpicker-js-tab">
{% highlight javascript hl_lines="6 18" %}
$(document).ready(function() {
    $('#colorPickerForm').bootstrapValidator({
        fields: {
            color: {
                validators: {
                    hexColor: {
                        message: 'The color code is not valid'
                    }
                }
            }
        }
    });

    $('#colorPicker')
        .colorpicker()
        .on('showPicker changeColor', function(e) {
            // Revalidate the color when user choose a color from the color picker
            $('#colorPickerForm').bootstrapValidator('revalidateField', 'color');
        });
});
{% endhighlight %}
                                </div>
                            </div>
                        </div>
                    </section>
                </section>

                {% include related.html %}
            </div>
        </div>
    </div>
</div>

<script src="/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script>
$(document).ready(function() {
    $('#colorForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            color: {
                validators: {
                    hexColor: {
                        message: 'The color code is not valid'
                    }
                }
            }
        }
    });

    $('#colorPickerForm').bootstrapValidator({
        fields: {
            color: {
                validators: {
                    hexColor: {
                        message: 'The color code is not valid'
                    }
                }
            }
        }
    });

    $('#colorPicker')
        .colorpicker()
        .on('showPicker changeColor', function(e) {
            $('#colorPickerForm').data('bootstrapValidator').updateStatus('color', 'NOT_VALIDATED', null).validateField('color');
        });
});
</script>
