---
layout:           base
title:            Validate a hex color
permalink:        /validators/hexColor/
previous_section: /validators/hex/
next_section:     /validators/iban/
comments:         true
related:
    - regexp
---

<div class="doc-page-content">
    <div class="doc-page-heading">
        <h1>hexColor validator</h1>
        <p>Validate a hex color</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-hexcolor-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Examples</h2>

                    <h3>Basic example</h3>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#hexcolor-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#hexcolor-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#hexcolor-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="hexcolor-form-tab">
                            {% include validators/hexColor/basic-example.html %}
                            </div>

                            <div class="tab-pane" id="hexcolor-html-tab">
                            {% highlight html %}
                            {% include validators/hexColor/basic-example.html %}
                            {% endhighlight %}
                            </div>

                            <div class="tab-pane" id="hexcolor-js-tab">
                            {% highlight javascript %}
                            {% include validators/hexColor/basic-example.js %}
                            {% endhighlight %}
                            </div>
                        </div>
                    </div>

                    <h3>Color picker example</h3>

                    <p>The following form uses a <a href="http://mjolnic.github.io/bootstrap-colorpicker/">Bootstrap Color Picker</a>.</p>
                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#colorpicker-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#colorpicker-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#colorpicker-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="colorpicker-form-tab">
                            {% include validators/hexColor/color-picker-example.html %}
                            </div>

                            <div class="tab-pane" id="colorpicker-html-tab">
                            {% highlight html %}
                            {% include validators/hexColor/color-picker-example.html %}
                            {% endhighlight %}
                            </div>

                            <div class="tab-pane" id="colorpicker-js-tab">
                            {% highlight javascript %}
                            {% include validators/hexColor/color-picker-example.js %}
                            {% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
{% include validators/hexColor/basic-example.js %}
{% include validators/hexColor/color-picker-example.js %}
</script>