---
layout: default
title: Validate identification number
permalink: /validators/id/
related:
    - vat
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>id validator</h1>
        <p>Validate identification number</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>country</code><sup>*</sup></td>
                                <td><code>data-bv-id-country</code></td>
                                <td>String</td>
                                <td>An ISO-3166 country code.<br/>It's <a href="/settings/#dynamic-option">dynamic option</a></td>
                            </tr>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-id-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-bv-id="true".
                    </div>

                    <p>The validator supports the following countries (click the sample number to validate it):</p>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Country</th>
                                <th>Abbreviation ID system</th>
                                <th>Country code</th>
                                <th>Example</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in site.data.id %}
                            {% assign data = item | split: '|' %}
                            <tr>
                                <td>{{ forloop.index }}</td>
                                <td>{{ data[0] }}</td>
                                <td>{{ data[1] }}</td>
                                <td>{{ data[2] }}</td>
                                <td>
                                    {% if data[3] %}
                                    <dl class="dl-horizontal">
                                        {% assign samples = data[3] | split: ',' %}
                                        {% for sample in samples %}
                                        <dt><a href="javascript: void(0);" class="sample" data-country="{{ data[2] }}">{{ sample }}</a></dt>
                                        <dd><i class="fa"></i></dd>
                                        {% endfor %}
                                    </dl>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Example</h2>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#id-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#id-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#id-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="id-form-tab">
                            {% include validators/id/example.html %}
                            </div>

                            <div class="tab-pane" id="id-html-tab">
                            {% highlight html %}
                            {% include validators/id/example.html %}
                            {% endhighlight %}
                            </div>

                            <div class="tab-pane" id="id-js-tab">
                            {% highlight javascript %}
                            {% include validators/id/example.js %}
                            {% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
{% include validators/id/example.js %}
$(document).ready(function() {
    $('.sample').on('click', function() {
        var validator = $('#idForm').data('bootstrapValidator'),
            country   = $(this).attr('data-country');

        $('#idForm')
            .find('select[name="countrySelectBox"]')
                .val(country)
                .end()
            .find('input[name="id"]')
                .val($(this).text());

        // Revalidate field
        $('#idForm').bootstrapValidator('revalidateField', 'id');

        // Show the result
        var isValid = validator.isValid();
        $(this).parent().next()
                .find('i')
                .removeClass('fa-check fa-times')
                .addClass(isValid ? 'fa-check' : 'fa-times')
                .show();
    });
});
</script>