---
layout:           doc
title:            Validate an IMO (International Maritime Organization)
permalink:        /validators/imo/
previous_section: /validators/imei/
next_section:     /validators/integer/
comments:         true
examples:         IMO 9074729, imo 9074729, 9074729, IMO 9074728
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/validators/">Validators</a> / imo</h1>
                <p>Validate an IMO (International Maritime Organization)</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                <ul>
                    <li><a href="#options">Options</a></li>
                    <li><a href="#example">Example</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="options">Options</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-imo-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section>
                    <h2 id="example">Example</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>IMO</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% assign examples = page.examples | split: ', ' %}
                            {% for imo in examples %}
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">{{ imo }}</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#imo-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#imo-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#imo-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="imo-form-tab">
                                <form id="imoForm" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">IMO</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" name="imo" />
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="imo-html-tab">
{% highlight html %}
<form id="imoForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">IMO</label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="imo" />
        </div>
    </div>
</form>
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="imo-js-tab">
{% highlight javascript hl_lines="11" %}
$(document).ready(function() {
    $('#imoForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            imo: {
                validators: {
                    imo: {
                        message: 'The value is not valid IMO'
                    }
                }
            }
        }
    });
});
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#imoForm')
            .find('input[name="imo"]')
                .val($(this).html())
                .end()
            .bootstrapValidator('revalidateField', 'imo');

        var isValid = $('#imoForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#imoForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            imo: {
                validators: {
                    imo: {
                        message: 'The value is not valid IMO'
                    }
                }
            }
        }
    });
});
</script>
