---
layout:           doc
title:            Validate an integer number
permalink:        /validators/integer/
previous_section: /validators/imei/
next_section:     /validators/ip/
comments:         true
related:
    - digits
    - numeric
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/validators/">Validators</a> / integer</h1>
                <p>Validate an integer number. Accept both positive and negative number.</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                <ul>
                    <li><a href="#options">Options</a></li>
                    <li><a href="#example">Example</a></li>
                    <li><a href="#related-validators">Related validators</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="options">Options</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>Equivalent HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-integer-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>You can use HTML 5 <code>type="number"</code> attribute to enable this validator.</p>
                </section>

                <section>
                    <h2 id="example">Example</h2>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#integer-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#integer-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#integer-js-tab" data-toggle="tab">JS</a></li>
                            <li><a href="#integer-html5-tab" data-toggle="tab">HTML 5</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="integer-form-tab">
                                <form id="integerForm" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Type an integer number</label>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" name="number" />
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="integer-html-tab">
{% highlight html %}
<form id="integerForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-4 control-label">Type a number</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="number" />
        </div>
    </div>
</form>
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="integer-js-tab">
{% highlight javascript hl_lines="11" %}
$(document).ready(function() {
    $('#integerForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            number: {
                validators: {
                    integer: {
                        message: 'The value is not an integer'
                    }
                }
            }
        }
    });
});
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="integer-html5-tab">
{% highlight html hl_lines="6" %}
<form id="integerForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-4 control-label">Type an integer number</label>
        <div class="col-lg-3">
            <input class="form-control" name="number"
                type="number" data-bv-integer-message="The value is not an integer" />
        </div>
    </div>
</form>
{% endhighlight %}
{% highlight javascript %}
$(document).ready(function() {
    $('#integerForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
});
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>

                {% include related.html %}
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#integerForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            number: {
                validators: {
                    integer: {
                        message: 'The value is not an integer'
                    }
                }
            }
        }
    });
});
</script>