---
layout:           doc
title:            Validate an ISMN (International Standard Music Number)
permalink:        /validators/ismn/
previous_section: /validators/isin/
next_section:     /validators/issn/
comments:         true
examples:         M230671187, 979-0-0601-1561-5, 979 0 3452 4680 5, 9790060115615, 9790060115614
related:
    - grid
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/validators/">Validators</a> / ismn</h1>
                <p>Validate an ISMN (International Standard Music Number).</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                <ul>
                    <li><a href="#options">Options</a></li>
                    <li><a href="#example">Example</a></li>
                    <li><a href="#related-validators">Related validators</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="options">Options</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>Equivalent HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-ismn-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section>
                    <h2 id="example">Example</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>ISMN</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% assign examples = page.examples | split: ', ' %}
                            {% for ismn in examples %}
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">{{ ismn }}</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#ismn-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#ismn-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#ismn-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="ismn-form-tab">
                                <form id="ismnForm" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">ISMN</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" name="ismn" />
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="ismn-html-tab">
{% highlight html %}
<form id="ismnForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">ISMN</label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="ismn" />
        </div>
    </div>
</form>
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="ismn-js-tab">
{% highlight javascript hl_lines="11" %}
$(document).ready(function() {
    $('#ismnForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            ismn: {
                validators: {
                    ismn: {
                        message: 'The value is not valid ISMN'
                    }
                }
            }
        }
    });
});
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>

                {% include related.html %}
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#ismnForm')
            .find('input[name="ismn"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('ismn', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#ismnForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#ismnForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            ismn: {
                validators: {
                    ismn: {
                        message: 'The value is not valid ISMN'
                    }
                }
            }
        }
    });
});
</script>
