---
layout:           doc
title:            lessThan validator
permalink:        /validators/lessThan/
previous_section: /validators/issn/
next_section:     /validators/mac/
comments:         true
related:
    - between
    - greaterThan
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/validators/">Validators</a> / lessThan</h1>
                <p>Return true if the value is less than or equals to given number.</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                <ul>
                    <li><a href="#options">Options</a></li>
                    <li><a href="#related-validators">Related validators</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="options">Options</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>inclusive</code></td>
                                <td><code>data-bv-lessthan-inclusive</code></td>
                                <td>Boolean</td>
                                <td>
                                    Can be <code>true</code> or <code>false</code>.<br />
                                    If <code>true</code>, the input value must be less than the comparison one.<br />
                                    If <code>false</code>, the input value must be less than or equal to the comparison one
                                </td>
                            </tr>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-lessthan-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                            <tr>
                                <td><code>value</code><sup>*</sup></td>
                                <td><code>data-bv-lessthan-value</code></td>
                                <td>Float</td>
                                <td>The number to make a comparison to.<br/>It's <a href="/settings/#dynamic-option">dynamic option</a> <span class="bv-news"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                {% include related.html %}
            </div>
        </div>
    </div>
</div>
