---
layout:           base
title:            notEmpty validator
permalink:        /validators/notEmpty/
previous_section: /validators/meid/
next_section:     /validators/numeric/
comments:         true
related:
    - stringLength
---

<div class="doc-page-content">
    <div class="doc-page-heading">
        <h1>notEmpty validator</h1>
        <p>Return true if the value contains only digits</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-notempty-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>You can use HTML 5 <code>required</code> attribute to enabled the validator.</p>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Example</h2>
                    <p>In the following form, user is asked to enter the full name which alphabetical characters and spaces only.</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#notempty-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#notempty-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#notempty-js-tab" data-toggle="tab">JS</a></li>
                            <li><a href="#notempty-html5-tab" data-toggle="tab">HTML 5</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="notempty-form-tab">
                            {% include validators/notEmpty/example.html %}
                            </div>

                            <div class="tab-pane" id="notempty-html-tab">
                            {% highlight html %}
                            {% include validators/notEmpty/example.html %}
                            {% endhighlight %}
                            </div>

                            <div class="tab-pane" id="notempty-js-tab">
                            {% highlight javascript %}
                            {% include validators/notEmpty/example.js %}
                            {% endhighlight %}
                            </div>

                            <div class="tab-pane" id="notempty-html5-tab">
{% highlight html %}
<form id="profileForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">Full name</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="fullName"
                required data-bv-notempty-message="The full name is required" />
        </div>
    </div>
</form>
{% endhighlight %}

{% highlight javascript %}
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
});
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
{% include validators/notEmpty/example.js %}
</script>