---
layout: default
title: Validate a numeric number
permalink: /validators/numeric/
comments: true
related:
    - digits
    - integer
---

<div class="doc-page-content">
    <div class="doc-page-heading">
        <h1>numeric validator</h1>
        <p>Check if the value is numeric</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>separator</code></td>
                                <td><code>data-bv-numeric-separator</code></td>
                                <td>String</td>
                                <td>The decimal separator. Can be a dot (.) <span class="label label-default">default</span> or comma (,)</td>
                            </tr>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-numeric-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>