---
layout:           base
title:            regexp validator
permalink:        /validators/regexp/
previous_section: /validators/phone/
next_section:     /validators/remote/
comments:         true
---

<div class="doc-page-content">
    <div class="doc-page-heading">
        <h1>regexp validator</h1>
        <p>Check if the value matches given Javascript regular expression</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-regexp-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                            <tr>
                                <td><code>regexp</code><sup>*</sup></td>
                                <td><code>data-bv-regexp-regexp</code> or <code>pattern</code></td>
                                <td>String</td>
                                <td>The Javascript regular expression</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Using a correct pattern</h3>

                    <p>If the validator still pass when the field value doesn't match the pattern, please ensure you use a correct pattern.</p>
                    <p>Here are some check lists:</p>
                    <ol>
                        <li>
                            <p>Is the pattern wrapped between <code>^</code> and <code>$</code>?</p>
                            <p>For example, if a field must be 5 digits number, then <code>^\d{5}</code> (no <code>$</code> at the end) is wrong pattern. <code>^\d{5}$</code> is right one.</p>
                        </li>
                        <li>
                            <p>Does the pattern work with external services?</p>
                            <p>You can use the following services to test the regular expression:</p>
                            <ul class="doc-list">
                                <li><a href="http://regexr.com">regexr.com</a></li>
                                <li><a href="http://regex101.com/">regex101.com</a></li>
                                <li><a href="http://regexpal.com/">regexpal.com</a></li>
                            </ul>
                        </li>
                    </ol>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Example</h2>
                    <p>In the following form, user is asked to enter the full name which alphabetical characters and spaces only.</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#regexp-form-tab" data-toggle="tab">Form</a></li>
                            <li><a href="#regexp-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#regexp-js-tab" data-toggle="tab">JS</a></li>
                            <li><a href="#regexp-html5-tab" data-toggle="tab">HTML 5</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="regexp-form-tab">
                            {% include validators/regexp/example.html %}
                            </div>

                            <div class="tab-pane" id="regexp-html-tab">
                            {% highlight html %}
                            {% include validators/regexp/example.html %}
                            {% endhighlight %}
                            </div>

                            <div class="tab-pane" id="regexp-js-tab">
                            {% highlight javascript %}
                            {% include validators/regexp/example.js %}
                            {% endhighlight %}
                            </div>

                            <div class="tab-pane" id="regexp-html5-tab">
{% highlight html %}
<form id="profileForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">Full name</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="fullName"
                pattern="^[a-z\s]+$"
                data-bv-regexp-message="The full name can consist of alphabetical characters and spaces only" />
        </div>
    </div>
</form>
{% endhighlight %}

{% highlight javascript %}
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
});
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
{% include validators/regexp/example.js %}
</script>