---
layout:           doc
title:            step validator
permalink:        /validators/step/
previous_section: /validators/siret/
next_section:     /validators/stringCase/
comments:         true
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/validators/">Validators</a> / step</h1>
                <p>Check if the value is valid step one.</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                <ul>
                    <li><a href="#options">Options</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="options">Options</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>baseValue</code></td>
                                <td><code>data-bv-step-base</code></td>
                                <td>Float</td>
                                <td>The base value, default to 0</td>
                            </tr>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-step-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                            <tr>
                                <td><code>step</code></td>
                                <td><code>data-bv-step-step</code></td>
                                <td>Float</td>
                                <td>The step, default to 1</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                {% include related.html %}
            </div>
        </div>
    </div>
</div>
