---
layout:           doc
title:            Validate an URL address
permalink:        /validators/uri/
previous_section: /validators/stringLength/
next_section:     /validators/uuid/
comments:         true
examples:
    valid:
        - http://foo.com/blah_blah
        - http://foo.com/blah_blah/
        - http://foo.com/blah_blah_(wikipedia)
        - http://foo.com/blah_blah_(wikipedia)_(again)
        - http://www.example.com/wpstyle/?p=364
        - https://www.example.com/foo/?bar=baz&inga=42&quux
        - http://✪df.ws/123
        - http://userid:password@example.com:8080
        - http://userid:password@example.com:8080/
        - http://userid@example.com
        - http://userid@example.com/
        - http://userid@example.com:8080
        - http://userid@example.com:8080/
        - http://userid:password@example.com
        - http://userid:password@example.com/
        - http://142.42.1.1/
        - http://142.42.1.1:8080/
        - http://➡.ws/䨹
        - http://⌘.ws
        - http://⌘.ws/
        - http://foo.com/blah_(wikipedia)#cite-1
        - http://foo.com/blah_(wikipedia)_blah#cite-1
        - http://foo.com/unicode_(✪)_in_parens
        - http://foo.com/(something)?after=parens
        - http://☺.damowmow.com/
        - http://code.google.com/events/#&product=browser
        - http://j.mp
        - ftp://foo.bar/baz
        - http://foo.bar/?q=Test%20URL-encoded%20stuff
        - http://مثال.إختبار
        - http://例子.测试
        - http://उदाहरण.परीक्षा
        - http://-.~_!$&'()*+,;=:%40:80%2f::::::@example.com
        - http://1337.net
        - http://a.b-c.de
        - http://223.255.255.254
    invalid:
        - http://
        - http://.
        - http://..
        - http://../
        - http://?
        - http://??
        - http://??/
        - http://#
        - http://##
        - http://##/
        - http://foo.bar?q=Spaces should be encoded
        - //
        - //a
        - ///a
        - ///
        - http:///a
        - foo.com
        - rdar://1234
        - h://test
        - http:// shouldfail.com
        - :// should fail
        - http://foo.bar/foo(bar)baz quux
        - ftps://foo.bar/
        - http://-error-.invalid/
        - http://a.b--c.de/
        - http://-a.b.co
        - http://a.b-.co
        - http://0.0.0.0
        - http://10.1.1.0
        - http://10.1.1.255
        - http://224.1.1.1
        - http://1.1.1.1.1
        - http://123.123.123
        - http://3628126748
        - http://.www.foo.bar/
        - http://www.foo.bar./
        - http://.www.foo.bar./
        - http://10.1.1.1
        - http://10.1.1.254
related:
    - ip
    - mac
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/validators/">Validators</a> / uri</h1>
                <p>Validate an URL address.</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                <ul>
                    <li><a href="#options">Options</a></li>
                    <li><a href="#example">Example</a></li>
                    <li><a href="#related-validators">Related validators</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="options">Options</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>Equivalent HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-uri-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>You can use <code>type="url"</code> attribute to enable this validator.</p>
                </section>

                <section>
                    <h2 id="example">Example</h2>

                    <div class="bv-box bv-box-info">
                        <h5><i></i>Sample URLs for testing</h5>
                        <p>Thank to <a href="http://mathiasbynens.be/">Mathias Bynens</a> for providing this amazing collection of <a href="http://mathiasbynens.be/demo/url-regex">URL examples</a>.</p>
                    </div>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>URL</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="text-center"><strong>Valid URL examples</strong></td>
                            </tr>
                            {% for url in page.examples.valid %}
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">{{ url }}</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            {% endfor %}

                            <tr>
                                <td colspan="2" class="text-center"><strong>Invalid URL examples</strong></td>
                            </tr>
                            {% for url in page.examples.invalid %}
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">{{ url }}</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#uri-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#uri-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#uri-js-tab" data-toggle="tab">JS</a></li>
                            <li><a href="#uri-html5-tab" data-toggle="tab">HTML 5</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="uri-form-tab">
                                <form id="urlForm" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Your website</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" name="website" />
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="uri-html-tab">
{% highlight html %}
<form id="urlForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">Your website</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="website" />
        </div>
    </div>
</form>
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="uri-js-tab">
{% highlight javascript hl_lines="11" %}
$(document).ready(function() {
    $('#urlForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            website: {
                validators: {
                    uri: {
                        message: 'The website address is not valid'
                    }
                }
            }
        }
    });
});
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="uri-html5-tab">
{% highlight html hl_lines="6" %}
<form id="urlForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">Your website</label>
        <div class="col-lg-4">
            <input class="form-control" name="website"
                type="url" data-bv-uri-message="The website address is not valid" />
        </div>
    </div>
</form>
{% endhighlight %}
{% highlight javascript %}
$(document).ready(function() {
    $('#urlForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
});
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>

                {% include related.html %}
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        var validator = $('#urlForm').data('bootstrapValidator');

        $('#urlForm').find('input[name="website"]').val($(this).html());
       validator.updateStatus('website', 'NOT_VALIDATED').validate();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(validator.isValid() ? 'fa-check' : 'fa-times');
    });    
    
    $('#urlForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            website: {
                validators: {
                    uri: {
                        message: 'The website address is not valid'
                    }
                }
            }
        }
    });
});
</script>
