---
layout:           base
title:            Validate an UUID
permalink:        /validators/uuid/
previous_section: /validators/uri/
next_section:     /validators/vat/
comments:         true
related:
    - regexp
---

<div class="doc-page-content">
    <div class="doc-page-heading">
        <h1>uuid validator</h1>
        <p>Validate an <a href="http://en.wikipedia.org/wiki/Universally_unique_identifier">UUID</a>, support v3, v4, v5</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-uuid-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                            <tr>
                                <td><code>version</code></td>
                                <td><code>data-bv-uuid-version</code></td>
                                <td>String</td>
                                <td>The UUID version. Can be <code>3</code>, <code>4</code>, <code>5</code> or <code>all</code> <span class="label label-default">default</span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>