---
layout:           doc
title:            Validate a zip code
permalink:        /validators/zipCode/
previous_section: /validators/vin/
comments:         true
examples:         EC1A 1BB, W1A 1HQ, M1 1AA, B33 8TH, CR2 6XH, DN55 1PT, AI-2640, ASCN 1ZZ, GIR 0AA
related:
    - phone
---

<div class="bv-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><a href="/validators/">Validators</a> / zipCode</h1>
                <p>Validate a zip code by a country code.</p>
            </div>

            <div class="col-md-4">
                <div class="bv-ad">
                    {% include ad.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bv-sidebar">
                <ul>
                    <li><a href="#options">Options</a></li>
                    <li><a href="#example">Example</a></li>
                    <li><a href="#related-validators">Related validators</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="bv-content">
                <section>
                    <h2 id="options">Options</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>country</code></td>
                                <td><code>data-bv-zipcode-country</code></td>
                                <td>String</td>
                                <td>An ISO-3166 country code.<br/>It's <a href="/settings/#dynamic-option">dynamic option</a> <span class="bv-news"></span></td>
                            </tr>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-zipcode-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>Currently, the validator supports the following countries:</p>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th>Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>United States</td>
                                <td>US <label class="label label-default">default</label></td>
                            </tr>
                            <tr>
                                <td>Canada</td>
                                <td>CA</td>
                            </tr>
                            <tr>
                                <td>Denmark</td>
                                <td>DK</td>
                            </tr>
                            <tr>
                                <td>Italy</td>
                                <td>IT</td>
                            </tr>
                            <tr>
                                <td>Netherlands</td>
                                <td>NL</td>
                            </tr>
                            <tr>
                                <td>Sweden</td>
                                <td>SE</td>
                            </tr>
                            <tr>
                                <td>Singapore</td>
                                <td>SG <span class="bv-news"></span></td>
                            </tr>
                            <tr>
                                <td>United Kingdom</td>
                                <td>GB</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="bv-box bv-box-info">
                        <h5 id="4-digits-us-zipcode"><i></i>4 digits US zipcode</h5>
                        <p>This validator supports 4 digits US zipcode. If you want a valid US zipcode to be 5 digits exactly, use the <a href="/validators/regexp/">regexp</a> validator:</p>
{% highlight javascript hl_lines="7" %}
$(document).ready(function() {
    $('#postcodeForm').bootstrapValidator({
        fields: {
            postcode: {
                validators: {
                    regexp: {
                        regexp: /^\d{5}$/,
                        message: 'The US zipcode must contain 5 digits'
                    }
                }
            }
        }
    });
});
{% endhighlight %}
                    </div>
                </section>

                <section>
                    <h2 id="example">Example</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>UK Postcode</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% assign examples = page.examples | split: ', ' %}
                            {% for postCode in examples %}
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">{{ postCode }}</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="bv-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#postcode-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#postcode-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#postcode-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="postcode-form-tab">
                                <form id="postcodeForm" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">UK postcode</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" name="postcode" />
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="postcode-html-tab">
{% highlight html %}
<form id="postcodeForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-3 control-label">UK postcode</label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="postcode" />
        </div>
    </div>
</form>
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="postcode-js-tab">
{% highlight javascript hl_lines="11" %}
$(document).ready(function() {
    $('#postcodeForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            postcode: {
                validators: {
                    zipCode: {
                        country: 'GB',
                        message: 'The value is not valid UK postcode'
                    }
                }
            }
        }
    });
});
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>

                {% include related.html %}
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#postcodeForm')
            .find('input[name="postcode"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('postcode', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#postcodeForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#postcodeForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            postcode: {
                validators: {
                    zipCode: {
                        country: 'GB',
                        message: 'The value is not valid UK postcode'
                    }
                }
            }
        }
    });
});
</script>
