<section>
    <h2>Advance</h2>

    <ul>
        <li><a href="/examples/adding-dynamic-field/">Adding dynamic field</a></li>
        <li><a href="/examples/ajax-submit/">Using Ajax to submit the form</a></li>
        <li><a href="/examples/changing-default-behaviour/">Changing default behaviour</a></li>
        <li><a href="/examples/tooltip-popover-position">Changing tooltip, popover's position <span class="bv-news"></span></a></li>
        <li><a href="/examples/complex-form/">Complex form</a></li>
        <li><a href="/examples/enable-validator/">Enable/disable validator</a></li>
        <li><a href="/examples/overriding-default-options/">Overriding default options</a></li>
        <li><a href="/examples/showing-message-custom-area/">Showing messages in custom area</a></li>
        <li><a href="/examples/showing-required-icon/">Showing required icon for the mandatory fields </a></li>
        <li><a href="/examples/showing-valid-message/">Showing valid message</a></li>
    </ul>
</section>