<section>
    <h2>Basic</h2>

    <ul>
        <li><a href="/examples/adjusting-feedback-icon-position/">Adjusting feedback icon position</a></li>
        <li><a href="/examples/attribute/">Set validator options via HTML 5 attributes</a></li>
        <li><a href="/examples/html5/">Play with HTML 5 input types and attributes</a></li>
        <li><a href="/examples/modal/">Validate a form placed inside a Bootstrap modal</a></li>
        <li><a href="/examples/multiple/">Use multiple elements with the same name</a></li>
        <li><a href="/examples/toggle/">Toggle field</a></li>
    </ul>
</section>