---
layout: default
---

<div class="container">
    <h1><a href="/validators/">Validators</a> {% if page.validator %}&rarr; <a href="/validators/{{ page.validator }}/">{{ page.validator }}</a>{% endif %}</h1>

    <div class="row">
        <div class="col-md-9">
            {{ content }}

            {% if page.related %}
            <section id="related">
                <h3>Related validators</h3>

                <ul>
                    {% for v in page.related %}
                    <li><a href="/validators/{{ v }}/">{{ v }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}

            {% assign path = 'validators' %}
            {% if page.validator %}
                {% assign path = page.validator | prepend:'validators/' %}
            {% endif %}
            <p><a href="{{ site.repository.docs_edit }}/{{ path }}.html" class="btn btn-success">Improve this page</a></p>

            {% include disqus.html %}
        </div>

        <div class="col-md-3">
            <div class="docs-sidebar">
                <ul class="nav">
                {% for validator in site.data.validators %}
                    {% assign validatorUrl = validator.name | prepend:'/validators/' | append:'/' %}
                    {% if validatorUrl == page.permalink %}
                        {% assign c = 'active' %}
                    {% else %}
                        {% assign c = '' %}
                    {% endif %}

                    <li class="{{ c }}">
                        <a href="/validators/{{ validator.name }}/">{{ validator.name }}
                        {% if validator.version == site.current_version %}
                            <label class="label label-success pull-right">new</label>
                        {% endif %}
                        </a>
                    </li>
                {% endfor %}
                </ul>

                {% include ad.html %}
            </div>
        </div>
    </div>
</div>
