---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            {{ content }}
        </div>
        <div class="col-lg-3">
            <aside>
                <div class="panel panel-default">
                    <div class="panel-heading">Validators</div>
                    <div class="list-group">
                        {% for validator in site.data.validators %}

                        {% assign validatorUrl = validator.slug | prepend:'/validators/' | append:'/' %}
                        {% if validatorUrl == page.permalink %}
                            {% assign c = 'list-group-item active' %}
                        {% else %}
                            {% assign c = 'list-group-item' %}
                        {% endif %}

                        <a class="{{ c }}" href="/validators/{{ validator.slug }}/">
                            {{ validator.name }}
                            {% if validator.version == site.current_version %}
                            <label class="label label-success pull-right">new</label>
                            {% endif %}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
